.well-lg {
  padding: 10px;
}
.btn-primary {
  color: $white;
  background-color: $red;
  border-color: $red;
  &:hover {
    color: #fff;
    background-color: darken($red, 10%);
    border-color: darken($red, 10%);
  }
}
.no-padding {
  padding: 0;
}
.no-padding-l {
  padding-left: 0;
}
.no-padding-r {
  padding-right: 0;
}
.padding-l-5 {
  padding-left: 5px;
}
.padding-r-5 {
  padding-right: 5px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #f5f5f5;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  color: $white;
  background-color: $red;
  border-color: $red;
}
.btn-primary.focus, .btn-primary:focus {
  color: $white;
  background-color: $red;
  border-color: $red;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: $white;
  background-color: $red;
  border-color: $red;
}

//declare clearfixs instead of bootstrap's default clearfix class for css conflict
.clearfixs {
  *zoom: 1;
}

.clearfixs:before,
.clearfixs:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfixs:after {
  clear: both;
}