html {
  color: #444444;
  font-size: 0.8rem; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.red {
  color: #e8314a; }

.well-lg {
  padding: 10px; }

.btn-primary {
  color: #f9f9f9;
  background-color: #e8314a;
  border-color: #e8314a; }
  .btn-primary:hover {
    color: #fff;
    background-color: #cf1730;
    border-color: #cf1730; }

.no-padding {
  padding: 0; }

.no-padding-l {
  padding-left: 0; }

.no-padding-r {
  padding-right: 0; }

.padding-l-5 {
  padding-left: 5px; }

.padding-r-5 {
  padding-right: 5px; }

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
  color: #f9f9f9;
  background-color: #e8314a;
  border-color: #e8314a; }

.btn-primary.focus, .btn-primary:focus {
  color: #f9f9f9;
  background-color: #e8314a;
  border-color: #e8314a; }

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  color: #f9f9f9;
  background-color: #e8314a;
  border-color: #e8314a; }

.clearfixs {
  *zoom: 1; }

.clearfixs:before,
.clearfixs:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfixs:after {
  clear: both; }

.last {
  margin-right: 0; }

.full-width {
  width: 100%; }

.table-layout {
  width: 100%; }
  .table-layout td {
    padding: 0.2rem; }
  .table-layout td.no-padding {
    padding: 0; }

.rounded-md {
  border-radius: .5rem !important; }

.img-poster-wrapper {
  position: relative;
  width: 100%; }
  .img-poster-wrapper .ico-appointment {
    width: 25%;
    display: inline-block;
    position: absolute;
    bottom: 16%;
    left: 6%; }
  .img-poster-wrapper .ico-400 {
    width: 35%;
    display: inline-block;
    position: absolute;
    left: 6%;
    bottom: 6%; }
    .img-poster-wrapper .ico-400:hover {
      transform: scale(1.1);
      transition: transform 0.2s; }
  .img-poster-wrapper .img-poster {
    width: 100%; }
  .img-poster-wrapper .link-survey {
    position: absolute;
    left: 20%;
    top: 33%;
    width: 8rem;
    height: 2rem; }

.img-poster-wrapper-wc .ico-400 {
  left: 37%;
  bottom: 13%; }

.pg-wc-water-leak .logoimg {
  position: absolute;
  left: -7%;
  right: 1%;
  bottom: 20px; }
  .pg-wc-water-leak .logoimg .ico-400 {
    width: 100px;
    display: inline-block; }
    .pg-wc-water-leak .logoimg .ico-400:hover {
      transform: scale(1.1);
      transition: transform 0.2s; }
  .pg-wc-water-leak .logoimg .ico-400-hand {
    position: relative;
    right: -3rem;
    top: -1rem; }
    .pg-wc-water-leak .logoimg .ico-400-hand:hover {
      transform: scale(1.1);
      transition: transform 0.2s; }

.block-title {
  width: 100%;
  margin: 1rem 0; }
  .block-title h6 {
    color: #636363;
    font-size: 0.8rem;
    font-weight: 300; }
  .block-title h2 {
    font-weight: 600;
    font-size: 1.5rem; }
  .block-title:after {
    content: "";
    display: block;
    width: 3rem;
    height: 0;
    border-bottom: 3px solid #66e6ee;
    margin: 0 auto; }

.block-title-no-line h2 {
  margin: 0; }
.block-title-no-line:after {
  display: none; }

.block-title-wall {
  width: 100%;
  margin: 1rem 0; }
  .block-title-wall h2 {
    font-weight: normal;
    font-size: 1.2rem; }
  .block-title-wall h5 {
    font-size: 0.8rem;
    font-weight: normal;
    color: #a6a6a6; }

.block-title-sample {
  width: 100%;
  margin: 1rem 0; }
  .block-title-sample h2 {
    font-weight: normal;
    font-size: 1.4rem; }
  .block-title-sample h5 {
    font-size: 1rem;
    font-weight: normal;
    color: #a6a6a6; }
  .block-title-sample h6 {
    font-size: 0.8rem;
    font-weight: normal;
    color: #a6a6a6; }

.block-title-y:after {
  border-bottom: 3px solid #f4de2a; }

.sec .last {
  margin-bottom: 1rem; }

.sec-banner {
  background: url("../images/rent-house-brushing/banner-bg.jpg") no-repeat center 0; }

.sec-banner-corp {
  margin: 1rem 0 0; }

.col {
  display: inline-block;
  width: 10%; }

.ico-advantage {
  width: 70%; }

.stack {
  position: relative; }
  .stack .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2rem 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f9f9f9; }
  .stack img {
    position: relative;
    top: 0; }

.stack-up {
  position: static; }
  .stack-up .title {
    position: static;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    padding: 0.5rem 0;
    background: #eeeeee;
    color: #444444;
    font-size: 0.9rem; }
    .stack-up .title:focus {
      background: blue; }

.sec-service .last {
  margin-bottom: 2rem; }

.banner-block-bg {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  box-shadow: 3px 3px 3px gray; }
  .banner-block-bg .table-service td {
    text-align: left;
    color: #f9f9f9; }

.sec-case .stack-case a:hover {
  text-decoration: none; }
.sec-case .stack-case .title {
  color: #f9f9f9; }
  .sec-case .stack-case .title:focus {
    background: #595959; }
.sec-case ul {
  width: 100%;
  color: #848484; }
  .sec-case ul li.list-inline-item:not(:last-child) {
    margin-right: 3rem; }

.sec-scence {
  background: url("../images/wc-water-leak/banner-bg.jpg") no-repeat top left;
  background-size: auto; }

.sec-advantage {
  min-height: 12rem; }
  .sec-advantage .dec-note {
    font-size: 0.9rem; }

.sec-advantage-wc {
  min-height: 26rem;
  background: url("../images/wc-water-leak/advantage/advantage-wc-bg.jpg") no-repeat top left;
  background-size: cover; }

.block-title.inverse {
  color: #f9f9f9; }
  .block-title.inverse h6 {
    color: #f9f9f9; }

.col-wrapper, .col-wrapper-1 {
  display: inline-block;
  border: 1px solid #bfbfbf;
  background: #eeeeee;
  width: 100%;
  float: left;
  margin-bottom: 1rem; }
  .col-wrapper .img-wrapper, .col-wrapper-1 .img-wrapper {
    float: left;
    width: 40%;
    display: inline-block; }
    .col-wrapper .img-wrapper img, .col-wrapper-1 .img-wrapper img {
      width: 100%; }
  .col-wrapper .content-wrapper, .col-wrapper-1 .content-wrapper {
    display: inline-block;
    padding: 1rem;
    float: left;
    width: 60%;
    height: 100%; }
    .col-wrapper .content-wrapper h5, .col-wrapper-1 .content-wrapper h5 {
      margin-bottom: 0.5rem;
      font-weight: 400; }
      .col-wrapper .content-wrapper h5:after, .col-wrapper-1 .content-wrapper h5:after {
        content: "";
        display: block;
        width: 3rem;
        height: 0;
        border-bottom: 3px solid #f4de2a;
        margin: 0.5rem 0 0 0; }

.col-wrapper-1 {
  background: white;
  min-height: 10rem; }
  .col-wrapper-1 .img-wrapper {
    float: none;
    width: 100%; }
  .col-wrapper-1 .content-wrapper {
    float: none;
    width: 100%;
    padding: 0.8rem; }
  .col-wrapper-1 p {
    margin-bottom: 0; }

a.red {
  color: #e8314a; }
  a.red:hover {
    color: #e8334c; }

.stack-up-2 .title {
  height: 5rem;
  text-align: left; }
  .stack-up-2 .title h6 {
    display: inline-block;
    background: #eeeeee url("../images/wc-water-leak/ico-num.png") no-repeat;
    height: 45px;
    line-height: 1.5rem;
    margin-top: 6px;
    padding-left: 5rem;
    padding-right: 1rem;
    background-position-x: 15px; }
.stack-up-2 .title-1 h6 {
  background-position-y: 0; }
.stack-up-2 .title-2 h6 {
  background-position-y: -45px;
  font-size: 0.8rem; }
.stack-up-2 .title-3 h6 {
  background-position-y: -90px; }
.stack-up-2 .title-4 h6 {
  background-position-y: -135px; }
.stack-up-2 .title-5 h6 {
  background-position-y: -180px; }
.stack-up-2 .title-6 h6 {
  background-position-y: -225px; }

.sec-coupon p {
  margin-bottom: 0.5rem;
  color: #595959; }
  .sec-coupon p:last-of-type {
    margin-bottom: 2rem; }

.tab-content .tab-pane {
  width: 100%; }
  .tab-content .tab-pane .tab-pan-item-outter {
    display: flex;
    margin-top: 1rem; }
    .tab-content .tab-pane .tab-pan-item-outter .tab-pane-item {
      flex: 1 1 auto;
      margin-right: 0.5rem;
      text-align: center; }
      .tab-content .tab-pane .tab-pan-item-outter .tab-pane-item p {
        color: #595959;
        font-size: 0.7rem;
        margin-top: 0.3rem; }
    .tab-content .tab-pane .tab-pan-item-outter .last {
      margin: 0; }

.nav-pills {
  border: 1px solid #595959; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #e8314a; }

.nav-pills .nav-link {
  border-radius: 0;
  color: #595959; }

.text-wrapper {
  color: #8c8c8c;
  text-align: center;
  font-size: 0.8rem; }
  .text-wrapper p {
    margin: 0 0 0.5rem 0; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .swiper-slide .img-wrapper {
    width: 50%;
    text-align: center; }
    .swiper-slide .img-wrapper .img-wrapper-dec {
      color: #595959;
      font-size: 0.8rem;
      margin: 1rem 0; }

.sec-con-process {
  background: #f5f5f5; }

.sec-brand-intro {
  background: #f5f5f5;
  color: #848484;
  font-size: 1rem;
  margin-top: -22rem; }
  .sec-brand-intro p {
    text-indent: 2rem;
    text-align: justify; }
    .sec-brand-intro p:first-child {
      margin-bottom: 0; }

.sec-brand-shop-shot {
  margin-bottom: 2rem; }

.swiper-brand-shop-shot {
  margin-bottom: 0.5rem; }
  .swiper-brand-shop-shot .img-wrapper {
    width: 100%;
    position: relative;
    border-right: 1px solid #f9f9f9; }
  .swiper-brand-shop-shot .title-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(68, 68, 68, 0.9);
    color: #f9f9f9; }
    .swiper-brand-shop-shot .title-wrapper span {
      font-size: 1rem;
      padding: 0.5rem; }
  .swiper-brand-shop-shot > .swiper-scrollbar {
    bottom: 1rem; }

.swiper-service-process {
  margin-bottom: 0.5rem; }
  .swiper-service-process .img-wrapper {
    width: 100%;
    position: relative;
    border-right: 1px solid #f9f9f9; }
  .swiper-service-process .mask-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(68, 68, 68, 0.6);
    color: #f9f9f9; }
    .swiper-service-process .mask-wrapper img {
      width: 40%;
      margin-top: 1rem;
      margin-bottom: 0.2rem; }
    .swiper-service-process .mask-wrapper div {
      font-size: 0.8rem;
      color: #f9f9f9; }
    .swiper-service-process .mask-wrapper:hover {
      transition: all 0.3s ease-in-out;
      opacity: 0; }
  .swiper-service-process > .swiper-scrollbar {
    bottom: 1rem; }

.swiper-button-sm {
  background-size: 70%; }

#swiper-container-0 .swiper-button-sm {
  top: 39%; }

.stack-case {
  cursor: hand; }
  .stack-case .title {
    z-index: 100;
    background: #444444; }
    .stack-case .title:focus {
      color: #e8314a; }
    .stack-case .title a {
      color: #f9f9f9; }
  .stack-case .img-wrapper {
    margin-bottom: 0.5rem;
    position: relative; }
  .stack-case .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(68, 68, 68, 0.7);
    z-index: 1;
    opacity: 0; }
    .stack-case .mask:hover {
      opacity: 1; }
    .stack-case .mask ul {
      color: #f9f9f9;
      width: 90%;
      text-align: left;
      font-size: 0.8rem;
      margin: 28% auto 0;
      padding-left: 10%; }

.hide {
  display: none; }

#coupon-wrapper {
  position: relative; }

#ico-coupon {
  display: inline-block;
  width: 14rem;
  height: 3rem;
  position: absolute;
  left: 27%;
  bottom: 2%; }

.pg-swiper {
  background: #444444; }
  .pg-swiper #swiper-container {
    margin-top: 20%; }

.pg-swiper .swiper-pagination {
  color: #f9f9f9; }

.avator-wrapper {
  width: 86px;
  float: left; }
  .avator-wrapper img {
    width: 100%; }

ul.avator-meta {
  margin: 0 0 0 0.8rem;
  float: left;
  display: block;
  font-size: 1rem; }
  ul.avator-meta li.title {
    font-size: 1.3rem; }
  ul.avator-meta .data-left {
    margin-right: 1rem; }
  ul.avator-meta .ico-call-400 {
    width: 42px;
    display: inline-block;
    margin-left: 4px; }
    ul.avator-meta .ico-call-400 img {
      width: 100%; }

.sec-description .btn-wrapper {
  width: 100%;
  text-align: center; }
.sec-description .btn-disable {
  background: #848484;
  color: #f9f9f9; }
  .sec-description .btn-disable:hover {
    background: #6b6b6b; }
.sec-description .well {
  border-radius: 3px;
  box-shadow: none; }
.sec-description .well-shop, .sec-description .well-manager {
  border: none; }
.sec-description .well-staff {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: white url("../images/shop/ico-biaogan.png") no-repeat top right;
  -webkit-background-size: 3.5rem;
  background-size: 3.5rem; }
  .sec-description .well-staff .avator-wrapper-outter {
    border-bottom: 1px dotted #848484;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem; }
.sec-description .btn-wrapper .btn-red {
  margin-right: 2rem;
  width: 9rem;
  text-align: center;
  padding: 0.4rem  1rem; }

.btn-submit {
  padding: 0.2rem 1.5rem; }

.btn-wide {
  padding: 0.4rem 1.4rem; }

.btn-go-shop, .btn-question, .btn-more-shifu {
  width: 9rem;
  text-align: center;
  padding: 0.4rem  1rem; }

.star {
  display: inline-block;
  width: 6rem; }
  .star img {
    width: 100%;
    position: relative;
    top: -2px; }

.block-title-shop h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0; }

.block-title-worker h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0; }
.block-title-worker h6 {
  font-size: 0.7rem; }

.sec-shop-shot .block-title-shop h2 {
  margin: 0.5rem 0 2rem 0; }
.sec-shop-shot .row.spacer {
  margin-bottom: 10px; }

.sec-shop-contact {
  background: url("../images/shop/bg-gray-tri.gif") no-repeat top left;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 1rem 0 0 0; }
  .sec-shop-contact h6 {
    font-size: 0.8rem;
    margin: 2rem 0 1rem 0; }
  .sec-shop-contact p {
    font-size: 8px; }
  .sec-shop-contact img.img-worker {
    width: 80%;
    margin: 1rem 0; }

.sec-community .table-layout {
  font-size: 0.6rem;
  text-align: center; }
  .sec-community .table-layout td {
    vertical-align: top; }
.sec-community .well {
  box-shadow: none;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 0; }
  .sec-community .well ul {
    font-size: 0.6rem; }
.sec-community p {
  position: relative;
  top: 10px;
  margin: 0;
  font-size: 1rem; }
  .sec-community p:before {
    content: "";
    display: block;
    width: 3rem;
    height: 0;
    border-bottom: 1px solid #595959;
    margin: 0 auto 6px; }

.sec-offline-act .row.spacer {
  margin-bottom: 10px; }

.sec-panel .table-responsive {
  border: 0; }
.sec-panel .panel-group .panel {
  border-radius: 0;
  border: 0; }
.sec-panel .panel-group .panel-default > .panel-heading {
  color: #f9f9f9;
  background-color: #e8314a;
  border-color: #e8314a; }
.sec-panel .panel-group .panel-primary > .panel-heading {
  background-color: #e8314a;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  color: white;
  position: relative;
  cursor: pointer; }
.sec-panel .panel-group .panel-title > a, .sec-panel .panel-group .panel-title > a:active {
  color: #f9f9f9; }
.sec-panel .panel-group .panel-shop-switcher > .panel-collapse .list-group-item a {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #595959; }
  .sec-panel .panel-group .panel-shop-switcher > .panel-collapse .list-group-item a:hover, .sec-panel .panel-group .panel-shop-switcher > .panel-collapse .list-group-item a:focus {
    text-decoration: none;
    color: #e8314a; }
.sec-panel .panel-group .panel-shop-switcher > .panel-collapse .list-group-item:last-child {
  border-bottom: 1px solid #ddd; }

.panel-group {
  max-height: 770px;
  overflow: auto; }

.panel-heading span {
  position: absolute;
  right: 10px;
  top: 12px; }

.menu-item-left {
  padding: 2px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 6px; }

.menu-item-left:hover {
  background: #C4E3F3;
  border: 1px solid #1E90FF; }

.selectPicker {
  position: relative;
  width: 88%;
  margin: 1rem auto 0rem; }

.selectPicker-brand {
  margin: 0;
  width: 100%;
  cursor: pointer; }
  .selectPicker-brand .select {
    border-radius: 0;
    border: 1px solid #e3e3e3;
    height: 2.5rem;
    width: 100%;
    background: white; }
    .selectPicker-brand .select .text {
      font-size: 1.1rem;
      line-height: 2.5rem;
      color: #848484; }
    .selectPicker-brand .select .sm {
      float: right;
      line-height: 2.3rem;
      margin-right: 1rem; }
      .selectPicker-brand .select .sm img {
        width: 60%; }
  .selectPicker-brand .option {
    border-top: none;
    font-size: 1.1rem;
    text-align: center; }

.select {
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  height: 2rem;
  width: 100%;
  background: white; }

.option {
  z-index: 1;
  position: absolute;
  margin: 0 auto 0;
  background: white;
  border: 1px solid #e6e6e6;
  width: 100%;
  font-size: 1rem;
  color: #595959;
  padding: 2px 0; }
  .option > div {
    padding: 2px;
    cursor: pointer; }

.select .sm {
  width: 6%;
  height: 100%;
  float: left;
  cursor: pointer;
  text-align: center;
  line-height: 2rem; }
  .select .sm img {
    width: 100%; }

.select .text {
  text-align: left;
  width: 88%;
  height: 100%;
  font-size: 1rem;
  line-height: 2rem;
  float: left;
  background: white;
  color: #a2a1a1;
  text-indent: 0.5rem;
  border-radius: 2px; }

.phoneNub {
  width: 88%;
  margin: 1rem auto;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  height: 2rem;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1rem;
  line-height: 2rem;
  background: white;
  color: #a2a1a1;
  position: relative; }
  .phoneNub .sm {
    width: 8%;
    height: 100%;
    right: 0;
    cursor: pointer;
    text-align: center;
    line-height: 1.5rem;
    margin-right: 5%;
    position: absolute; }
    .phoneNub .sm img {
      width: 100%; }
  .phoneNub input {
    width: 88%;
    height: 100%;
    background: white;
    outline: none;
    border: none; }
    .phoneNub input::placeholder {
      color: #848484; }

.sec-banner-worker {
  position: relative; }
  .sec-banner-worker .img-poster-wrapper .outer {
    width: 100%;
    position: absolute;
    text-align: left;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; }
    .sec-banner-worker .img-poster-wrapper .outer .form-wrapper {
      position: absolute;
      text-align: center;
      left: 3%;
      right: 3%;
      bottom: 10%;
      top: 70%; }
      .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner {
        background: rgba(68, 68, 68, 0.8); }
        .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .selectPicker {
          position: relative;
          width: 43%;
          margin: 1rem 0.5rem 1rem 1rem;
          float: left; }
        .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .phoneNub {
          width: 23%;
          float: left;
          margin: 1rem 0 1rem 0;
          border-radius: 4px;
          border: 1px solid #e6e6e6;
          height: 2rem;
          box-sizing: border-box;
          overflow: hidden;
          font-size: 1rem;
          line-height: 2rem;
          background: #fafafa;
          color: #a2a1a1;
          position: relative; }
          .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .phoneNub .sm {
            width: 8%;
            height: 100%;
            right: 0;
            cursor: pointer;
            text-align: center;
            line-height: 1.5rem;
            margin-right: 5%;
            position: absolute; }
            .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .phoneNub .sm img {
              width: 100%; }
          .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .phoneNub input {
            width: 88%;
            height: 100%;
            background: #fafafa;
            outline: none;
            border: none; }
            .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .phoneNub input::placeholder {
              color: #595959; }
        .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .btn-submit {
          float: right;
          margin: 1rem 1rem 1rem 0; }

.swiper-container-worker .swiper-pagination {
  position: static;
  margin: 0.8rem 0 1rem 0; }
  .swiper-container-worker .swiper-pagination .swiper-pagination-bullet {
    background: gray; }
  .swiper-container-worker .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #e8314a; }
.swiper-container-worker .swiper-container-horizontal + .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.well-staff-jinpai {
  position: relative;
  margin-bottom: 0;
  text-align: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: url("../images/shop/ico-jinpai.png") no-repeat top right;
  -webkit-background-size: 3.5rem;
  background-size: 4rem;
  padding: 0 0 2.4rem 0; }
  .well-staff-jinpai .avator-wrapper-outter {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem; }
  .well-staff-jinpai ul.avator-meta {
    font-size: 1.2rem; }
    .well-staff-jinpai ul.avator-meta .title {
      font-size: 1.7rem;
      margin: 0.4rem 0; }
  .well-staff-jinpai ul.avator-meta-extra {
    float: left;
    display: block;
    font-size: 1.2rem; }
    .well-staff-jinpai ul.avator-meta-extra li {
      width: 48%;
      display: inline-block;
      margin-bottom: 0.3rem; }
  .well-staff-jinpai .btn-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    .well-staff-jinpai .btn-wrapper .btn-worker-require {
      color: #e8314a;
      background: #f9f9f9;
      border-radius: 0;
      width: 100%;
      padding: 0.8rem 0;
      border-top: 1px solid #e3e3e3; }
      .well-staff-jinpai .btn-wrapper .btn-worker-require:hover {
        background: white; }
      .well-staff-jinpai .btn-wrapper .btn-worker-require:active, .well-staff-jinpai .btn-wrapper .btn-worker-require:hover:active {
        background: #adadad; }

.well-staff-biaogan {
  position: relative;
  margin-bottom: 0;
  text-align: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: url("../images/shop/ico-biaogan.png") no-repeat top right;
  -webkit-background-size: 3.5rem;
  background-size: 4rem;
  padding: 0 0 2.4rem 0; }
  .well-staff-biaogan .avator-wrapper-outter {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem; }
  .well-staff-biaogan ul.avator-meta {
    font-size: 1.2rem; }
    .well-staff-biaogan ul.avator-meta .title {
      font-size: 1.7rem;
      margin: 0.4rem 0; }
  .well-staff-biaogan ul.avator-meta-extra {
    float: left;
    display: block;
    font-size: 1.2rem; }
    .well-staff-biaogan ul.avator-meta-extra li {
      width: 48%;
      display: inline-block;
      margin-bottom: 0.3rem; }
  .well-staff-biaogan .btn-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    .well-staff-biaogan .btn-wrapper .btn-worker-require {
      color: #e8314a;
      background: #f9f9f9;
      border-radius: 0;
      width: 100%;
      padding: 0.8rem 0;
      border-top: 1px solid #e3e3e3; }
      .well-staff-biaogan .btn-wrapper .btn-worker-require:hover {
        background: white; }
      .well-staff-biaogan .btn-wrapper .btn-worker-require:active, .well-staff-biaogan .btn-wrapper .btn-worker-require:hover:active {
        background: #adadad; }

.well-staff-worker {
  position: relative;
  margin-bottom: 1.5rem;
  text-align: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-size: 3.5rem;
  background-color: white;
  background-size: 3.5rem;
  padding: 0 0 2.4rem 0; }
  .well-staff-worker .avator-wrapper-outter {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem; }
  .well-staff-worker ul.avator-meta {
    font-size: 0.8rem; }
    .well-staff-worker ul.avator-meta .title {
      font-size: 1.5rem;
      margin: 1rem 0 0.5rem; }
  .well-staff-worker ul.avator-meta-extra {
    font-size: 0.7rem;
    float: left;
    display: block; }
    .well-staff-worker ul.avator-meta-extra li {
      width: 23%;
      display: inline-block;
      padding: 0; }
      .well-staff-worker ul.avator-meta-extra li:last-child {
        width: 25%;
        float: right; }
  .well-staff-worker ul.avator-meta-extra-2 {
    font-size: 0.7rem;
    display: block;
    text-align: center; }
    .well-staff-worker ul.avator-meta-extra-2 li {
      width: 45%;
      display: inline-block;
      padding: 0; }
  .well-staff-worker .btn-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    .well-staff-worker .btn-wrapper .btn-worker-require {
      color: #e8314a;
      background: #f9f9f9;
      border-radius: 0;
      width: 100%;
      border-top: 1px solid #e3e3e3; }
      .well-staff-worker .btn-wrapper .btn-worker-require:hover {
        background: white; }
      .well-staff-worker .btn-wrapper .btn-worker-require:active, .well-staff-worker .btn-wrapper .btn-worker-require:hover:active {
        background: #adadad; }

.well-staff-worker-leader {
  background: url("../images/worker/ico-leader.png") no-repeat top right;
  background-size: 2rem; }

.well-staff-worker-assistant {
  background: url("../images/worker/ico-assistant.png") no-repeat top right;
  background-size: 2rem; }

.well {
  box-shadow: none;
  width: 100%;
  float: left; }
  .well .avator-wrapper-outter {
    margin-bottom: 0.8rem; }
  .well dl, .well p, .well ul {
    font-size: 1rem;
    color: #737373; }
  .well ul.avator-meta .title {
    color: #444444; }
  .well ul.avator-meta-extra {
    margin-bottom: 1.2rem; }
  .well .inner {
    padding: 0.8rem 0.8rem 0 0.8rem;
    float: left;
    width: 100%; }
  .well .outter {
    border-bottom: 1px dotted #848484;
    float: left;
    width: 100%; }

.log {
  width: 1224px;
  margin: 0 auto;
  padding-bottom: 20px; }

.noborder p {
  display: block;
  line-height: 22px;
  text-indent: 35px; }

.noborder {
  padding-bottom: 20px; }

.Cultrue_dianpu {
  display: block;
  margin-top: 45px; }

.Cultrue_dianpu img {
  width: 413px;
  height: 313px; }

.sec-indexbooks {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 1rem; }

.sec-our-processing {
  overflow-y: hidden; }

.CulTrue_cooperation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: #f9f9f9;
  font-size: 1.2rem;
  font-weight: normal; }
  .CulTrue_cooperation h3 {
    margin: 0; }

.block-title-brand h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 20px;
  color: #444444; }

.thumbnail {
  border: none;
  margin-bottom: 0;
  text-align: justify; }
  .thumbnail .caption {
    padding: 0; }
    .thumbnail .caption a {
      width: 6rem;
      height: 6rem;
      border: 1px solid #848484;
      display: block;
      border-radius: 50%;
      margin: 0 auto;
      background-size: 80%;
      transition: background 0.4s ease; }
  .thumbnail p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #848484;
    padding: 0 0.5rem;
    font-weight: 300; }
  .thumbnail .ico-brush {
    background: white url("../images/brand/ico/_0000s_0000_brush.png") no-repeat center center; }
    .thumbnail .ico-brush:hover {
      background: #848484 url("../images/brand/ico/_0001s_0000_brush.png") no-repeat center center;
      background-size: 80%; }
  .thumbnail .ico-brush.hover {
    background: #848484 url("../images/brand/ico/_0001s_0000_brush.png") no-repeat center center;
    background-size: 80%; }
  .thumbnail .ico-deco {
    background: white url("../images/brand/ico/_0000s_0001_deco.png") no-repeat center center; }
    .thumbnail .ico-deco:hover {
      background: #848484 url("../images/brand/ico/_0001s_0001_deco.png") no-repeat center center;
      background-size: 80%; }
  .thumbnail .ico-deco.hover {
    background: #848484 url("../images/brand/ico/_0001s_0001_deco.png") no-repeat center center;
    background-size: 80%; }
  .thumbnail .ico-drop {
    background: white url("../images/brand/ico/_0000s_0003_drop.png") no-repeat center center; }
    .thumbnail .ico-drop:hover {
      background: #848484 url("../images/brand/ico/_0001s_0003_drop.png") no-repeat center center;
      background-size: 80%; }
  .thumbnail .ico-drop.hover {
    background: #848484 url("../images/brand/ico/_0001s_0003_drop.png") no-repeat center center;
    background-size: 80%; }
  .thumbnail .ico-more {
    background: white url("../images/brand/ico/_0000s_0002_more.png") no-repeat center center; }
    .thumbnail .ico-more:hover {
      background: #848484 url("../images/brand/ico/_0001s_0002_more.png") no-repeat center center;
      background-size: 80%; }
  .thumbnail .ico-more.hover {
    background: #848484 url("../images/brand/ico/_0001s_0002_more.png") no-repeat center center;
    background-size: 80%; }

.cd-timeline-content {
  border: 1px solid #dfdfdf; }

.cd-timeline-img {
  width: 20px;
  height: 20px;
  left: 52.5%;
  margin-left: -30px; }

.cssanimations .cd-timeline-img.is-hidden {
  visibility: hidden; }

.cssanimations .cd-timeline-img.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-1 .6s;
  -moz-animation: cd-bounce-1 .6s;
  animation: cd-bounce-1 0.6s; }

.cd-timeline-content .cd-read-more {
  float: left; }

.cd-timeline-block:nth-child(even) .cd-timeline-content, .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
  float: right; }

.cd-top {
  width: 8rem;
  height: 3rem;
  margin: 0 auto -39px;
  text-align: center;
  font-size: 1rem;
  line-height: 3rem;
  background: #dfdfdf;
  color: #444444; }

.cd-timeline-content .cd-date {
  position: absolute;
  width: 100%;
  left: 122%;
  top: 6px;
  font-size: 1rem; }

.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
  left: auto;
  right: 122%;
  text-align: right; }

.cssanimations .cd-timeline-content.is-hidden {
  visibility: hidden; }

.cssanimations .cd-timeline-content.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-2 .6s;
  -moz-animation: cd-bounce-2 .6s;
  animation: cd-bounce-2 0.6s; }

.Cultrue_Make input, .txttarea {
  border: 1px solid #e3e3e3;
  text-indent: 0.5rem;
  color: #848484; }

.Cultrue_Make input {
  margin-top: 1rem;
  width: 100%;
  height: 2.5rem; }

.Cultrue_Make input.input-0 {
  margin-top: 0; }

.Cultrue_Yu, .txttarea {
  width: 100%; }

.Cultrue_MakeCentent {
  margin-top: 20px; }

.txttarea {
  height: 120px; }

.Cultrue_Yu {
  height: 40px;
  background: #222;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-top: 20px; }
  .Cultrue_Yu:hover {
    background: gray; }

.foot img {
  width: 100%;
  margin-top: 20px; }

.long {
  width: 1.5rem;
  height: 1px;
  background: #222;
  transition: width 1s; }

.cultrue_h4 {
  border-bottom: 1px solid #e5e5e5;
  color: #595959;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 2.4rem;
  text-align: center; }

.caption:hover div {
  width: 100%; }

.Cultrue_type {
  height: 300px; }

.introduce {
  background: #e3e3e3;
  padding-bottom: 30px; }

.Cultrue_SERVICE {
  text-align: center; }

.desc {
  font-size: 1rem;
  font-weight: normal;
  color: #b0b0b0; }

.cultrue_jiesao {
  margin: 0;
  padding-bottom: 0; }

.cd-container {
  width: 100%;
  margin: 0 auto; }

.cd-container::after {
  display: table;
  clear: both; }

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }

#cd-timeline::before {
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: #444; }

.cd-timeline-block:after, .cd-timeline-content:after {
  content: "";
  clear: both; }

#cd-timeline {
  margin-top: 3em;
  margin-bottom: 3em; }

#cd-timeline::before {
  left: 49.5%;
  margin-left: -2px; }

.cd-timeline-block {
  position: relative; }

#cd-timeline-block-1 {
  transform: translate(0, -4rem); }
  #cd-timeline-block-1 .cd-left:before {
    border: none; }

#cd-timeline-block-2 {
  transform: translate(0, -8rem); }
  #cd-timeline-block-2 .cd-right:before {
    border: none; }

#cd-timeline-block-3 {
  transform: translate(0, -12rem); }
  #cd-timeline-block-3 .cd-left:before {
    border: none; }

#cd-timeline-block-4 {
  transform: translate(0, -16rem); }
  #cd-timeline-block-4 .cd-right:before {
    border: none; }

#cd-timeline-block-5 {
  transform: translate(0, -20rem); }
  #cd-timeline-block-5 .cd-left:before {
    border: none; }

.cd-timeline-block:after {
  display: table; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

.cd-timeline-img {
  position: absolute;
  top: 24px;
  left: 56.7%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #ffd24e, inset 0 2px 0 transparent, 0 0 0 0 rgba(0, 0, 0, 0.05); }

.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px; }

.cd-timeline-img.cd-picture {
  background: #fff; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 18px;
    height: 18px;
    left: 50%;
    margin-left: -10px; }

  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 .6s;
    -moz-animation: cd-bounce-1 .6s;
    animation: cd-bounce-1 0.6s; } }
#cd-timeline::before {
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: #444; }

.cd-timeline-content {
  padding: 0.5rem;
  position: relative;
  border-radius: 0;
  width: 40%;
  font-size: 0.8rem;
  color: #595959; }
  .cd-timeline-content .table-layout {
    font-size: 1rem;
    color: #848484; }
    .cd-timeline-content .table-layout tr td {
      vertical-align: top; }
      .cd-timeline-content .table-layout tr td:first-child {
        width: 30%; }

#cd-timeline-content-1 {
  margin-top: 0; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 100%;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-left: 12px solid #dfdfdf; }

.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
  left: auto;
  right: 100%;
  border-color: transparent #dfdfdf transparent transparent; }

.cd-timeline-content h2 {
  font-size: 1.1rem;
  margin-top: 0; }

.cd-timeline-content p {
  font-size: 1rem;
  color: gray; }
  .cd-timeline-content p:last-child {
    margin-bottom: 0; }

.cd-timeline-content .cd-date, .cd-timeline-content .cd-read-more {
  font-size: 1rem; }

.cd-right::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 20px;
  height: 0;
  width: 0;
  z-index: 3;
  border: 12px solid transparent;
  border-right: 12px solid #fff; }

.cd-left::before {
  content: '';
  position: absolute;
  top: 27px;
  left: 33px;
  height: 0;
  width: 0;
  z-index: 3;
  border: 12px solid transparent;
  border-right: 12px solid #fff; }

.cd-left::before {
  top: -7px;
  left: -28px;
  border-color: transparent transparent transparent #fff; }

.cd-timeline-img div {
  width: 8px;
  height: 8px;
  background: #ffd24e;
  border-radius: 50%;
  margin: 2px; }

.cultrue_foot a {
  display: block;
  width: 50px; }

.cultrue_foot img {
  height: 33px;
  margin: 0; }

.cultrue_h3 {
  font-size: 14px; }

.indent {
  text-indent: 70px; }

.col-xs-right {
  width: 16%; }

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }

#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 71%;
  width: 1px;
  background: #222; }

#cd-timeline {
  margin-top: 3em;
  margin-bottom: 3em; }

#cd-timeline::before {
  left: 50%;
  margin-left: -2px; }

.sec-logo-grp-brand {
  margin-bottom: 0 !important;
  overflow: hidden;
  height: 21rem; }

.sec-logo-grp {
  margin-bottom: 3rem; }
  .sec-logo-grp .table-layout td {
    height: 3.5rem;
    text-align: center;
    padding: 0.6rem; }
  .sec-logo-grp .table-layout img {
    width: 12%;
    margin: 0 auto;
    position: relative; }
    .sec-logo-grp .table-layout img:hover, .sec-logo-grp .table-layout img:focus {
      transform: scale(1.1);
      transition: scale .2s ease-in-out;
      transform-origin: center center; }
  .sec-logo-grp .table-layout .logo-fl {
    width: 9%; }
  .sec-logo-grp .table-layout .logo-zx {
    width: 19%;
    top: -1rem; }
  .sec-logo-grp .table-layout .logo-jyj {
    width: 10%;
    top: 1rem;
    left: -3rem; }
  .sec-logo-grp .table-layout .logo-360 {
    top: -1rem;
    left: -2rem;
    width: 18%; }
  .sec-logo-grp .table-layout .logo-tb {
    left: -5rem;
    top: 2rem; }
  .sec-logo-grp .table-layout .logo-qd {
    width: 27%;
    left: -4rem; }
  .sec-logo-grp .table-layout .logo-lm {
    width: 7%;
    left: -2rem;
    top: -2rem; }
  .sec-logo-grp .table-layout .logo-yysh {
    width: 6%;
    left: 0;
    top: -2rem; }
  .sec-logo-grp .table-layout .logo-cc {
    width: 15%;
    left: 2rem;
    top: -6rem; }
  .sec-logo-grp .table-layout .logo-yb {
    width: 7%;
    left: -3rem;
    top: 1rem; }
  .sec-logo-grp .table-layout .logo-bd {
    width: 18%;
    left: -1rem;
    top: -1rem; }
  .sec-logo-grp .table-layout .logo-jb {
    width: 8%;
    left: 0;
    top: -2rem; }
  .sec-logo-grp .table-layout .logo-ykyj {
    width: 18%;
    left: 0.5rem;
    top: 0rem; }
  .sec-logo-grp .table-layout .logo-dzdp {
    width: 14%;
    left: 1rem;
    top: 0rem; }
  .sec-logo-grp .table-layout .logo-cdjf {
    width: 28%;
    left: 7rem;
    top: -5rem; }
  .sec-logo-grp .table-layout .logo-xmej {
    width: 8%;
    left: -1rem;
    top: -2rem; }
  .sec-logo-grp .table-layout .logo-58dj {
    width: 8%;
    top: -3rem; }
  .sec-logo-grp .table-layout .logo-jbwy {
    width: 18%;
    left: 1rem;
    top: -2rem; }
  .sec-logo-grp .table-layout .logo-58 {
    width: 10%;
    left: 2rem;
    top: -2rem; }
  .sec-logo-grp .table-layout .logo-qhf {
    width: 16%;
    right: -1rem;
    top: -3rem; }

.sec-contact-meta {
  background: url("../images/brand/bg-mountain.jpg") no-repeat center bottom;
  background-size: contain;
  margin: 1rem auto 0;
  padding: 0.4rem 0.4rem 4rem; }
  .sec-contact-meta img {
    width: 10%; }
  .sec-contact-meta ul {
    margin-top: 0.5rem;
    color: #848484;
    font-size: 1rem;
    margin-bottom: 0.5rem; }
  .sec-contact-meta .table-layout {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #848484;
    font-size: 1rem; }
    .sec-contact-meta .table-layout tr td {
      vertical-align: top;
      padding: 0; }
      .sec-contact-meta .table-layout tr td:first-child {
        width: 22%; }

.pg-topic-12 .row {
  position: relative; }

.link-blank {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  display: inline-block; }

.sec-topic12 .link-service-big {
  width: 60%;
  height: 4rem;
  left: 20%;
  top: 38%; }
.sec-topic12 .link-service-sm {
  width: 30%;
  height: 2rem;
  top: 0; }
.sec-topic12 .link-service-sm.left {
  left: 11%; }
.sec-topic12 .link-service-sm.right {
  left: 59%; }
.sec-topic12 .link-blank-wrapper {
  position: absolute;
  width: 100%;
  height: 2rem; }
.sec-topic12 .link-appoint, .sec-topic12 .link-advice, .sec-topic12 .link-tel {
  heigth: 2rem;
  display: inline-block;
  position: static;
  float: left; }
.sec-topic12 .link-appoint {
  width: 55%; }
.sec-topic12 .link-advice {
  width: 22%; }
.sec-topic12 .link-tel {
  width: 23%; }
.sec-topic12 .row-surprise-2 .link-blank-wrapper {
  bottom: 20%; }
.sec-topic12 .row-repair .link-blank-wrapper.first {
  top: 50%; }
.sec-topic12 .row-repair .link-blank-wrapper.second {
  top: 82%; }
.sec-topic12 .row-prompt-products .link-blank-wrapper.first {
  bottom: 0; }
.sec-topic12 .row-prompt-products .link-blank-wrapper {
  position: absolute;
  width: 100%;
  height: 1.2rem; }
  .sec-topic12 .row-prompt-products .link-blank-wrapper .link-blank-grp {
    overflow: hidden;
    position: absolute;
    width: 32%;
    height: 100%; }
  .sec-topic12 .row-prompt-products .link-blank-wrapper .link-blank-grp.left {
    left: 10%; }
  .sec-topic12 .row-prompt-products .link-blank-wrapper .link-blank-grp.right {
    left: 58%; }

.pg-water-leak .sec-poster {
  position: relative; }
  .pg-water-leak .sec-poster .link-service {
    position: absolute;
    left: 10%;
    bottom: 25%;
    background: #444444;
    border: 1px solid #444444;
    color: #f9f9f9;
    padding: 0.1rem 1.2rem;
    text-decoration: none; }
    .pg-water-leak .sec-poster .link-service:hover, .pg-water-leak .sec-poster .link-service:active, .pg-water-leak .sec-poster .link-service:focus {
      background: rgba(68, 68, 68, 0);
      color: black;
      transition: all 0.2s ease-in-out; }
.pg-water-leak .sec-work-process .row {
  margin-left: -5px;
  margin-right: -5px; }
.pg-water-leak .sec-work-process .col-xs-4 {
  padding-left: 5px;
  padding-right: 5px; }
.pg-water-leak .sec-work-process .stack-wrapper h6 {
  font-size: 1rem;
  font-weight: normal; }
.pg-water-leak .sec-work-process .stack-wrapper h6.sm {
  font-size: 0.7rem; }
.pg-water-leak .sec-price {
  margin-top: 2rem; }
.pg-water-leak .gray-wrapper {
  padding: 1rem;
  background: #f5f5f5; }
  .pg-water-leak .gray-wrapper .block-title-sample {
    margin-top: 0; }
    .pg-water-leak .gray-wrapper .block-title-sample h2 {
      margin: 0; }
  .pg-water-leak .gray-wrapper p {
    text-align: left; }
.pg-water-leak .sec-wall-leak .spacer {
  margin-bottom: 1rem; }
.pg-water-leak .sec-tech .block-title-sample {
  margin: 0.5rem 0 1.5rem; }
  .pg-water-leak .sec-tech .block-title-sample h2 {
    font-size: 1.3rem; }
.pg-water-leak .sec-tech .stack-wrapper {
  background: #f9f9f9;
  padding: 1rem;
  border: 1px solid #d9d9d9; }
  .pg-water-leak .sec-tech .stack-wrapper h6 {
    margin-bottom: 0; }
.pg-water-leak .sec-tech .spacer {
  margin-bottom: 1rem; }
.pg-water-leak .stack-wrapper .title-wrapper {
  text-align: center; }
.pg-water-leak .stack-wrapper h6 {
  font-size: 1.1rem;
  font-weight: normal; }

/*# sourceMappingURL=yiniao-mb.css.map */
