@import "variables";
@import "format-bs";

.last {
  margin-right: 0;
}

.full-width {
  width: 100%;
}

.table-layout {
  width: 100%;
  td {
    padding: 0.2rem;
  }
  td.no-padding {
    padding: 0;
  }
}

.rounded-md {
  border-radius: .5rem !important;
}

.img-poster-wrapper {
  position: relative;
  width: 100%;
  //left: 5%;
  //bottom: 17%;

  .ico-appointment {
    width: 25%;
    display: inline-block;
    position: absolute;
    bottom: 16%;
    left: 6%;
  }
  .ico-400 {
    width: 35%;
    display: inline-block;
    position: absolute;
    left: 6%;
    bottom: 6%;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s;
    }
  }
  .img-poster {
    width: 100%;
  }
  .link-survey {
    position: absolute;
    left: 20%;
    top: 33%;
    width: 8rem;
    height: 2rem;
  }
}

.img-poster-wrapper-wc {
  .ico-400 {
    left: 37%;
    bottom: 13%;

  }
}

.pg-wc-water-leak .logoimg {
  position: absolute;
  left: -7%;
  right: 1%;
  bottom: 20px;
  .ico-400 {
    width: 100px;
    display: inline-block;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s;
    }
  }
  .ico-400-hand {
    position: relative;
    right: -3rem;
    top: -1rem;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s;
    }
  }
}

.block-title {
  width: 100%;
  margin: 1rem 0;
  h6 {
    color: #636363;
    font-size: 0.8rem;
    font-weight: 300;
  }
  h2 {
    font-weight: 600;
    font-size: 1.5rem;
  }
  &:after {
    content: "";
    display: block;
    width: 3rem;
    height: 0;
    border-bottom: 3px solid $blue;
    margin: 0 auto;
  }
}

.block-title-no-line {
  h2 {
    margin: 0;
  }
  &:after {
    display: none;
  }
}

.block-title-wall {
  width: 100%;
  margin: 1rem 0;
  h2 {
    font-weight: normal;
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.8rem;
    font-weight: normal;
    color: lighten($gray, 30%);
  }
}

.block-title-y {
  &:after {
    border-bottom: 3px solid $yellow;
  }
}

.sec {
  .last {
    margin-bottom: 1rem;
  }
}

.sec-banner {
  background: url("../images/rent-house-brushing/banner-bg.jpg") no-repeat center 0;
}

.sec-banner-corp {
  margin: 1rem 0 0;
}

.col {
  display: inline-block;
  width: 10%;
}

.ico-advantage {
  width: 70%;
}

.stack {
  position: relative;
  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2rem 0;
    background: rgba(black, 0.5);
    color: $white;
  }
  img {
    position: relative;
    top: 0;
  }
}

.stack-up {
  position: static;
  .title {
    position: static;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    padding: 0.5rem 0;
    background: $white-tint;
    color: $black;
    font-size: 0.9rem;
    &:focus {
      background: blue;
    }
  }
}

.sec-service {
  .last {
    margin-bottom: 2rem;
  }
}

.banner-block-bg {
  background: rgba(black, 0.5);
  padding: 1rem;
  box-shadow: 3px 3px 3px gray;
  .table-service {
    td {
      text-align: left;
      color: $white;
    }
  }
}

.sec-attention {
  ul {
  }
}

.sec-case {
  .stack-case {
    a {
      &:hover {
        text-decoration: none;
      }
    }
    .title {
      color: $white;
      &:focus {
        background: $gray;
      }
    }
  }
  img {
  }
  ul {
    width: 100%;
    color: $gray-tint;
    li.list-inline-item:not(:last-child) {
      margin-right: 3rem;
    }
  }
}

.sec-scence {
  //min-height: 19rem;
  background: url("../images/wc-water-leak/banner-bg.jpg") no-repeat top left;
  background-size: auto;
}

.sec-advantage {
  min-height: 12rem;
  .dec-note {
    font-size: 0.9rem;
  }
}

.sec-advantage-wc {
  min-height: 26rem;
  background: url("../images/wc-water-leak/advantage/advantage-wc-bg.jpg") no-repeat top left;
  background-size: cover;
}

.block-title.inverse {
  color: $white;
  h6 {
    color: $white;
  }
}

.col-wrapper {
  display: inline-block;
  border: 1px solid lighten($gray, 40%);
  background: $white-tint;
  width: 100%;
  float: left;
  margin-bottom: 1rem;
  .img-wrapper {
    float: left;
    width: 40%;
    display: inline-block;
    img {
      width: 100%;
    }
  }
  .content-wrapper {
    display: inline-block;
    padding: 1rem;
    float: left;
    width: 60%;
    height: 100%;
    h5 {
      margin-bottom: 0.5rem;
      font-weight: 400;
      &:after {
        content: "";
        display: block;
        width: 3rem;
        height: 0;
        border-bottom: 3px solid $yellow;
        margin: 0.5rem 0 0 0;
      }
    }
  }
}

.col-wrapper-1 {
  @extend .col-wrapper;
  background: white;
  min-height: 10rem;
  .img-wrapper {
    float: none;
    width: 100%;
  }
  .content-wrapper {
    float: none;
    width: 100%;
    padding: 0.8rem;
  }
  p {
    margin-bottom: 0;
  }
}

a.red {
  color: $red;
  &:hover {
    color: lighten($red, 0.5);
  }
}

.stack-up-2 {

  .title {
    height: 5rem;
    text-align: left;
    //background-position:  0 0 0;
    h6 {
      display: inline-block;
      //width: 100%;
      //position: absolute;
      //width: 12rem;
      //top: 1rem;
      //right: 1rem;
      //background: red;
      background: $white-tint url("../images/wc-water-leak/ico-num.png") no-repeat;
      height: 45px;
      line-height: 1.5rem;
      margin-top: 6px;
      padding-left: 5rem;
      padding-right: 1rem;
      background-position-x: 15px;
      //background-size: 47px 45px;
      //margin: 0;
    }
  }
  .title-1 {
    h6 {
      background-position-y: 0;
    }
  }
  .title-2 {
    h6 {
      background-position-y: -45px;
      font-size: 0.8rem;
    }
  }
  .title-3 {
    h6 {
      background-position-y: -90px;
    }
  }
  .title-4 {
    h6 {
      background-position-y: -135px;
    }
  }
  .title-5 {
    h6 {
      background-position-y: -180px;
    }
  }
  .title-6 {
    h6 {
      background-position-y: -225px;
    }
  }
}

//page-wall
.sec-coupon {
  p {
    margin-bottom: 0.5rem;
    color: $gray;
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

.tab-content {
  .tab-pane {
    width: 100%;
    .tab-pan-item-outter {
      display: flex;
      margin-top: 1rem;
      .tab-pane-item {
        flex: 1 1 auto;
        margin-right: 0.5rem;
        text-align: center;
        p {
          color: $gray;
          font-size: 0.7rem;
          margin-top: 0.3rem;
        }
      }
      .last {
        margin: 0;
      }
    }
  }
}

.nav-pills {
  border: 1px solid $gray;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: $red;
}

.nav-pills .nav-link {
  border-radius: 0;
  color: $gray;
}

.text-wrapper {
  color: lighten($gray, 20%);
  text-align: center;
  font-size: 0.8rem;
  p {
    margin: 0 0 0.5rem 0;
  }
}

//swiper
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  //Center slide text vertically
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  .img-wrapper {
    width: 50%;
    text-align: center;
    .img-wrapper-dec {
      color: $gray;
      font-size: 0.8rem;
      margin: 1rem 0;
    }
  }
}

.sec-con-process {
  background: $gray-tinter;
}
.sec-brand-intro {
  background: $gray-tinter;
  color: $gray-tint;
  font-size: 1rem;
  margin-top: -22rem;
  p {
    text-indent: 2rem;
    text-align: justify;
    &:first-child {
      margin-bottom: 0;
    }
  }
}
.sec-brand-shop-shot {
  margin-bottom: 2rem;
}
.sec-logo-grp-brand {
  margin-bottom: 0 !important;
}
.swiper-brand-shop-shot {
  margin-bottom: 0.5rem;
  .img-wrapper {
    width: 100%;
    position: relative;
    border-right: 1px solid $white;
  }
  .title-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba($black, 0.9);
    color: $white;
    //border-right: 1px solid $white;
    span {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
  >.swiper-scrollbar {
    bottom: 1rem;
  }
}
.swiper-button-sm {
  background-size: 70%;
}
#swiper-container-0 {
  .swiper-button-sm {
    top:39%;
  }
}
.stack-case {

  cursor: hand;
  .title {
    z-index: 100;
    background: $black;
    &:focus {
      color: $red;
    }
    a {
      color: $white;
    }
  }
  .img-wrapper {
    margin-bottom: 0.5rem;
    position: relative;
  }
  .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($black, 0.7);
    z-index: 1;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    ul {
      color: $white;
      width: 90%;
      text-align: left;
      font-size: 0.8rem;
      margin: 28% auto 0;
      padding-left: 10%;
    }
  }
}

.hide {
  display: none;
}

#coupon-wrapper {
  position: relative;
}

#ico-coupon {
  display: inline-block;
  width: 14rem;
  height: 3rem;
  position: absolute;
  left: 27%;
  bottom: 2%;
}

//pg-swiper
.pg-swiper {
  background: $black;
  #swiper-container {
    margin-top: 20%;
  }
}

.pg-swiper {
  .swiper-pagination {
    color: $white;
  }
}

.avator-wrapper {
  width: 86px;
  float: left;
  img {
    width: 100%;
  }
}

ul.avator-meta {
  //width: 100%;
  margin: 0 0 0 0.8rem;
  float: left;
  display: block;
  font-size: 1rem;
  li.title {
    font-size: 1.3rem;
  }
  .data-left {
    margin-right: 1rem;
  }
  .ico-call-400 {
    width: 42px;
    display: inline-block;
    margin-left: 4px;
    img {
      width: 100%;
    }
  }
}

.sec-description {

  .btn-wrapper {
    width: 100%;
    text-align: center;
  }
  .btn-disable {
    background: $gray-tint;
    color: $white;
    &:hover {
      background: darken($gray-tint, 10%);
    }
  }
  .well {
    border-radius: 3px;
    box-shadow: none;
  }
  .well-shop, .well-manager {
    border: none;
  }
  .well-staff {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    .avator-wrapper-outter {
      border-bottom: 1px dotted $gray-tint;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
    }
    background: white url("../images/shop/ico-biaogan.png") no-repeat top right;
    -webkit-background-size: 3.5rem;
    background-size: 3.5rem;
  }
  .btn-wrapper {
    .btn-red {
      margin-right: 2rem;
      width: 9rem;
      text-align: center;
      padding: 0.4rem  1rem;
    }

  }
}

.btn-submit {
  padding: 0.2rem 1.5rem;
}

.btn-wide {
  padding: 0.4rem 1.4rem;
}
.btn-go-shop, .btn-question, .btn-more-shifu {
  width: 9rem;
  text-align: center;
  padding: 0.4rem  1rem;
}
.star {
  display: inline-block;
  width: 6rem;
  img {
    width: 100%;
    position: relative;
    top: -2px;
  }
}

.block-title-shop {
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
  }
}

.block-title-worker {
  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }
  h6 {
    font-size: 0.7rem;
  }
}
.stack-down-inverse {
}

.sec-shop-shot {
  .block-title-shop {
    h2 {
      margin: 0.5rem 0 2rem 0;
    }
  }
  .row.spacer {
    margin-bottom: 10px;
  }
}

.sec-shop-contact {
  background: url("../images/shop/bg-gray-tri.gif") no-repeat top left;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 1rem 0 0 0;
  h6 {
    font-size: 0.8rem;
    margin: 2rem 0 1rem 0;
  }
  p {
    font-size: 8px;
  }
  img.img-worker {
    width: 80%;
    margin: 1rem 0;
  }

}

.sec-community {
  .table-layout {
    font-size: 0.6rem;
    text-align: center;
    td {
      vertical-align: top;
    }
  }
  .well {
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 0;
    ul {
      font-size: 0.6rem;
    }
  }
  p {
    position: relative;
    top: 10px;
    margin: 0;
    font-size: 1rem;
    &:before {
      content: "";
      display: block;
      width: 3rem;
      height: 0;
      border-bottom: 1px solid $gray;
      margin: 0 auto 6px;
    }
  }
}

.sec-offline-act .row.spacer {
  margin-bottom: 10px;
}

//pg-自有店铺
.sec-panel {
  //border:1px solid blue;
  .table-responsive {
    border: 0;
  }
  .panel-group {

    .panel {
      border-radius: 0;
      border: 0;
    }
    .panel-default > .panel-heading {
      color: $white;
      background-color: $red;
      border-color: $red;
    }
    .panel-primary > .panel-heading {
      background-color: $red;
      padding-left: 20px;
      //border-bottom: 1px solid transparent;
      border-radius: 0;
      font-size: 14px;
      color: white;
      position: relative;
      cursor: pointer;
    }
    .panel-title > a, .panel-title > a:active {
      color: $white;
    }
    //.panel-shop-switcher > .panel-collapse {
    //   .list-group-item {
    //    a {
    //      display: inline-block;
    //      width: 100%;
    //      text-align: center;
    //      color: $gray;
    //      &:hover, &:focus {
    //        text-decoration: none;
    //        color: $red;
    //      }
    //    }
    //    &:last-child {
    //      border-bottom: 1px solid #ddd;
    //    }
    //  }
    //}
    .panel-shop-switcher > .panel-collapse {
      .list-group-item {
        a {
          display: inline-block;
          width: 100%;
          text-align: center;
          color: $gray;
          &:hover, &:focus {
            text-decoration: none;
            color: $red;
          }
        }
        &:last-child {
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }
}

.panel-group {
  max-height: 770px;
  overflow: auto;
}

.panel-heading span {
  position: absolute;
  right: 10px;
  top: 12px;
}

.menu-item-left {
  padding: 2px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
}

.menu-item-left:hover {
  background: #C4E3F3;
  border: 1px solid #1E90FF;
}

.selectPicker {
  position: relative;
  width: 88%;
  margin: 1rem auto 0rem;
}

.select {
  border-radius: 4px;
  //overflow: hidden;
  border: 1px solid #e6e6e6;
  height: 2rem;
  width: 100%;
  background: white;
}

.option {
  z-index: 1;
  position: absolute;
  margin: 0 auto 0;
  background: white;
  border: 1px solid #e6e6e6;
  width: 100%;
  font-size: 1rem;
  color: $gray;
  padding: 2px 0;
  > div {
    padding: 2px;
    cursor: pointer;
  }
}

.select .sm {
  width: 6%;
  height: 100%;
  float: left;
  //background: #229434;
  cursor: pointer;
  text-align: center;
  line-height: 2rem;
  img {
    width: 100%;
  }
}

.select .text {
  text-align: left;
  width: 88%;
  height: 100%;
  font-size: 1rem;
  line-height: 2rem;
  float: left;
  background: white;
  color: #a2a1a1;
  text-indent: 0.5rem;
  border-radius: 2px;
}

.phoneNub {
  width: 88%;
  margin: 1rem auto;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  height: 2rem;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1rem;
  line-height: 2rem;
  background: white;
  color: #a2a1a1;
  position: relative;
  .sm {
    width: 8%;
    height: 100%;
    right: 0;
    cursor: pointer;
    text-align: center;
    line-height: 1.5rem;
    margin-right: 5%;
    position: absolute;
    img {
      width: 100%;
    }
  }
  input {
    width: 88%;
    height: 100%;
    background: white;
    outline: none;
    border: none;
    //text-indent: .2rem;
    //font-size: .3rem;
    &::placeholder {
      color: $gray;
    }
  }
}



//pg-worker ----------------------------------
.sec-banner-worker {
  position: relative;
  .img-poster-wrapper {
    .outer {
      width: 100%;
      position: absolute;
      text-align: left;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      .form-wrapper {
        position: absolute;
        text-align: center;
        left: 3%;
        right: 3%;
        bottom: 10%;
        top: 70%;
        .inner {
          //padding: 1rem;
          background: rgba($black, 0.8);
          .selectPicker {
            position: relative;
            width: 43%;
            margin: 1rem 0.5rem 1rem 1rem;
            float: left;
          }
          .phoneNub {
            width: 23%;
            float: left;
            margin: 1rem 0 1rem 0;
            border-radius: 4px;
            border: 1px solid #e6e6e6;
            height: 2rem;
            box-sizing: border-box;
            overflow: hidden;
            font-size: 1rem;
            line-height: 2rem;
            background: #fafafa;
            color: #a2a1a1;
            position: relative;
            .sm {
              width: 8%;
              height: 100%;
              right: 0;
              cursor: pointer;
              text-align: center;
              line-height: 1.5rem;
              margin-right: 5%;
              position: absolute;
              img {
                width: 100%;
              }
            }
            input {
              width: 88%;
              height: 100%;
              background: #fafafa;
              outline: none;
              border: none;
              //text-indent: .2rem;
              //font-size: .3rem;
              &::placeholder {
                color: $gray;
              }
            }
          }
          .btn-submit {
            float: right;
            margin: 1rem 1rem 1rem 0;
          }
        }
      }
    }
  }
}

//swiper center pagnation button outside div
.swiper-container-worker {
  //margin: 1rem 0 0 0;
  .swiper-pagination {
    position: static;
    margin: 0.8rem 0 1rem 0;
    .swiper-pagination-bullet {
      background: gray;
      //width: 3%;
      //height: 13%;
      //opacity: 0;
    }
    .swiper-pagination-bullet-active {
      background-color: $red;
      //opacity: 1;
    }
  }
  .swiper-container-horizontal+.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
  }
}


//well-staff-jinpai
.well-staff-jinpai {
  position: relative;
  margin-bottom: 0;
  text-align: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: url("../images/shop/ico-jinpai.png") no-repeat top right;
  -webkit-background-size: 3.5rem;
  background-size: 4rem;
  padding: 0 0 2.4rem 0;
  .avator-wrapper-outter {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  ul.avator-meta {
    font-size: 1.2rem;
    .title {
      font-size: 1.7rem;
      margin: 0.4rem 0;
    }
  }
  ul.avator-meta-extra {
    //width: 100%;
    //margin-left: 10px;
    float: left;
    display: block;
    font-size: 1.2rem;
    li {
      width: 48%;
      display: inline-block;
      margin-bottom: 0.3rem;
    }
  }
  .btn-wrapper {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    .btn-worker-require {
      color: $red;
      background: #f9f9f9;
      border-radius: 0;
      width: 100%;
      padding: 0.8rem 0;
      border-top: 1px solid #e3e3e3;
      &:hover {
        background: lighten(#f9f9f9, 40%);
      }
      &:active, &:hover:active {
        background: darken(#f9f9f9, 30%);
      }
    }
  }
}
.well-staff-biaogan {
  position: relative;
  margin-bottom: 0;
  text-align: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: url("../images/shop/ico-biaogan.png") no-repeat top right;
  -webkit-background-size: 3.5rem;
  background-size: 4rem;
  padding: 0 0 2.4rem 0;
  .avator-wrapper-outter {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  ul.avator-meta {
    font-size: 1.2rem;
    .title {
      font-size: 1.7rem;
      margin: 0.4rem 0;
    }
  }
  ul.avator-meta-extra {
    //width: 100%;
    //margin-left: 10px;
    float: left;
    display: block;
    font-size: 1.2rem;
    li {
      width: 48%;
      display: inline-block;
      margin-bottom: 0.3rem;
    }
  }
  .btn-wrapper {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    .btn-worker-require {
      color: $red;
      background: #f9f9f9;
      border-radius: 0;
      width: 100%;
      padding: 0.8rem 0;
      border-top: 1px solid #e3e3e3;
      &:hover {
        background: lighten(#f9f9f9, 40%);
      }
      &:active, &:hover:active {
        background: darken(#f9f9f9, 30%);
      }
    }
  }
}
.well-staff-worker {
  position: relative;
  margin-bottom: 1.5rem;
  text-align: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-size: 3.5rem;
  background-color: white;
  background-size: 3.5rem;
  padding: 0 0 2.4rem 0;
  .avator-wrapper-outter {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  ul.avator-meta {
    font-size: 0.8rem;
    .title {
      font-size: 1.5rem;
      margin: 1rem 0 0.5rem;
    }
    li {
    }
  }
  ul.avator-meta-extra {
    font-size: 0.7rem;
    //width: 100%;
    //margin-left: 10px;
    float: left;
    display: block;
    li {
      width: 23%;
      display: inline-block;
      padding: 0;
      &:last-child {
        width: 25%;
        float: right;
      }
    }
  }
  ul.avator-meta-extra-2 {
    font-size: 0.7rem;
    //width: 100%;
    //margin-left: 10px;
    //float: left;
    display: block;
    text-align: center;
    li {
      width: 45%;
      display: inline-block;
      padding: 0;
    }
  }
  .btn-wrapper {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    .btn-worker-require {
      color: $red;
      background: #f9f9f9;
      border-radius: 0;
      width: 100%;
      border-top: 1px solid #e3e3e3;
      &:hover {
        background: lighten(#f9f9f9, 40%);
      }
      &:active, &:hover:active {
        background: darken(#f9f9f9, 30%);
      }
    }
  }
}
.well-staff-worker-leader {
  background: url("../images/worker/ico-leader.png") no-repeat top right;
  background-size: 2rem;
}
.well-staff-worker-assistant {
  background: url("../images/worker/ico-assistant.png") no-repeat top right;
  background-size: 2rem;
}
.well {
  box-shadow: none;
  width: 100%;
  float: left;
  .avator-wrapper-outter {
    margin-bottom: 0.8rem;
  }
  dl, p, ul  {
    font-size: 1rem;
    color: lighten($gray, 10%);
  }
  ul.avator-meta {
    .title {
      color: $black;
    }
  }
  ul.avator-meta-extra {
    margin-bottom: 1.2rem;
  }
  .inner {
    padding: 0.8rem 0.8rem 0 0.8rem;
    float: left;
    width: 100%;
  }
  .outter {
    border-bottom: 1px dotted $gray-tint;
    float: left;
    width: 100%;
  }
}


//pg-brand

.log {
  width: 1224px;
  margin: 0 auto;
  padding-bottom: 20px
}

.noborder p {
  display: block;
  line-height: 22px;
  text-indent: 35px
}

.noborder {
  padding-bottom: 20px
}

.Cultrue_dianpu {
  display: block;
  margin-top: 45px
}

.Cultrue_dianpu img {
  width: 413px;
  height: 313px
}

.sec-indexbooks {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 1rem;
}
.sec-our-processing {
  //background: red;
  //height: 40rem;
  overflow-y: hidden;
}
.CulTrue_cooperation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: $white;
  font-size: 1.2rem;
  font-weight: normal;
  h3 {
    margin: 0;
  }
}
.block-title-brand {
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 20px;
    color: $black;
  }
}
.thumbnail {
  //height: 220px;
  border: none;
  margin-bottom: 0;
  text-align: justify;
  .caption {
    padding: 0;
    a {
      width: 6rem;
      height: 6rem;
      border: 1px solid $gray-tint;
      display: block;
      border-radius: 50%;
      margin: 0 auto;
      background-size: 80%;
      transition: background 0.4s ease;
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $gray-tint;
    padding: 0 0.5rem;
    font-weight: 300;
  }
  .ico-brush {
    background: white url("../images/brand/ico/_0000s_0000_brush.png") no-repeat center center;
    &:hover {
      background: $gray-tint url("../images/brand/ico/_0001s_0000_brush.png") no-repeat center center;
      background-size: 80%;
    }
  }
  .ico-brush.hover {
    background: $gray-tint url("../images/brand/ico/_0001s_0000_brush.png") no-repeat center center;
    background-size: 80%;
  }
  .ico-deco {
    background: white url("../images/brand/ico/_0000s_0001_deco.png") no-repeat center center;
    &:hover {
      background: $gray-tint url("../images/brand/ico/_0001s_0001_deco.png") no-repeat center center;
      background-size: 80%;
    }
  }
  .ico-deco.hover {
    background: $gray-tint url("../images/brand/ico/_0001s_0001_deco.png") no-repeat center center;
    background-size: 80%;
  }
  .ico-drop {
    background: white url("../images/brand/ico/_0000s_0003_drop.png") no-repeat center center;
    &:hover {
      background: $gray-tint url("../images/brand/ico/_0001s_0003_drop.png") no-repeat center center;
      background-size: 80%;
    }
  }
  .ico-drop.hover {
    background: $gray-tint url("../images/brand/ico/_0001s_0003_drop.png") no-repeat center center;
    background-size: 80%;
  }
  .ico-more {
    background: white url("../images/brand/ico/_0000s_0002_more.png") no-repeat center center;
    &:hover {
      background: $gray-tint url("../images/brand/ico/_0001s_0002_more.png") no-repeat center center;
      background-size: 80%;
    }
  }
  .ico-more.hover {
    background: $gray-tint url("../images/brand/ico/_0001s_0002_more.png") no-repeat center center;
    background-size: 80%;
  }
}

.cd-timeline-content {
  border: 1px solid #dfdfdf;
}
  .cd-timeline-img {
    width: 20px;
    height: 20px;
    left: 52.5%;
    margin-left: -30px
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 .6s;
    -moz-animation: cd-bounce-1 .6s;
    animation: cd-bounce-1 .6s
  }

  .cd-timeline-content .cd-read-more {
    float: left
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content, .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-top {
    width: 8rem;
    height: 3rem;
    margin: 0 auto -39px;
    text-align: center;
    font-size: 1rem;
    line-height: 3rem;
    background: #dfdfdf;
    color: #444444;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 1rem
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;

  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 .6s;
    -moz-animation: cd-bounce-2 .6s;
    animation: cd-bounce-2 .6s
  }

.Cultrue_Make input, .txttarea {
  border: 1px solid #f5f5f5;
  text-indent: 0.5rem;
  color: $gray-tint;
}

//.table-layout img {
//  transition: transform .3s ease-in;
//}
//
//.table-layout img:hover {
//  transform: scale(1.5)
//}

.Cultrue_Make input {
  margin-top: 20px;
  width: 100%;
  height: 30px;
}
.Cultrue_Make input.input-0 {
  margin-top: 0;
}


.Cultrue_Yu, .txttarea {
  width: 100%;
}

.Cultrue_MakeCentent {
  margin-top: 20px;
}

.txttarea {
  height: 120px
}

.Cultrue_Yu {
  height: 40px;
  background: #222;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  &:hover {
    background: gray;
  }
}

.foot img {
  width: 100%;
  margin-top: 20px
}

.long {
  width: 1.5rem;
  height: 1px;
  background: #222;
  transition: width 1s;
}

.cultrue_h4 {
  border-bottom: 1px solid #e5e5e5;
  color: $gray;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 2.4rem;
  text-align: center;
}

.caption:hover div {
  width: 100%
}



.Cultrue_type {
  height: 300px
}

.introduce {
  background: #f5f5f5;
  padding-bottom: 30px
}

.Cultrue_SERVICE {
  text-align: center;
}
.desc {
  font-size: 1rem;
  font-weight: normal;
  color: #b0b0b0;
}

.cultrue_jiesao {
  margin: 0;
  padding-bottom: 0
}

.cd-container {
  width: 100%;
  margin: 0 auto;
  //background: beige;
}

.cd-container::after {
  display: table;
  clear: both
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em
}

#cd-timeline::before {
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: #444
}

.cd-timeline-block:after, .cd-timeline-content:after {
  content: "";
  clear: both
}

  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em
  }
  #cd-timeline::before {
    left: 49.5%;
    margin-left: -2px
  }

.cd-timeline-block {
  position: relative;
}
#cd-timeline-block-1 {
  transform:translate(0, -4rem);
  .cd-left:before {
    border: none;
  }
}
#cd-timeline-block-2 {
  transform:translate(0, -8rem);
  .cd-right:before {
    border: none;
  }
}
#cd-timeline-block-3 {
  transform:translate(0, -12rem);
  .cd-left:before {
    border: none;
  }
}
#cd-timeline-block-4 {
  transform:translate(0, -16rem);
  .cd-right:before {
    border: none;
  }
}
#cd-timeline-block-5 {
  transform:translate(0, -20rem);
  .cd-left:before {
    border: none;
  }
}
.cd-timeline-block:after {
  display: table
}

.cd-timeline-block:first-child {
  margin-top: 0
}

.cd-timeline-block:last-child {
  margin-bottom: 0
}


  .cd-timeline-block:first-child {
    //margin-top: -4rem;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0
  }

.cd-timeline-img {
  position: absolute;
  top: 24px;
  left: 56.5%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #ffd24e, inset 0 2px 0 transparent, 0 0 0 0 rgba(0, 0, 0, .05)
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px
}

.cd-timeline-img.cd-picture {
  background: #fff
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 18px;
    height: 18px;
    left: 50%;
    margin-left: -10px;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 .6s;
    -moz-animation: cd-bounce-1 .6s;
    animation: cd-bounce-1 .6s
  }
}

#cd-timeline::before {
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: #444
}

.cd-timeline-content {
  //margin: -4rem 0 0 0;
  padding: 0.5rem;
  position: relative;
  border-radius: 0;
  width: 40%;
  font-size: 0.8rem;
  color: $gray;
  .table-layout {
    font-size: 1rem;
    color: $gray-tint;
    tr {
      td {
        vertical-align: top;
        &:first-child {
          width: 28%;
        }
      }
    }

  }
}

#cd-timeline-content-1 {
  margin-top:0;
}

//.cd-timeline-content:after {
//  display: table
//}
//
//.cd-timeline-content h2 {
//  color: $black;
//}
//
//.cd-timeline-content .cd-date, .cd-timeline-content .cd-read-more, .cd-timeline-content p {
//  font-size: 13px;
//  font-size: .8125rem
//}
//
//.cd-timeline-content .cd-date, .cd-timeline-content .cd-read-more {
//  display: inline-block
//}
//
//.cd-timeline-content p {
//  margin: 1em 0;
//  line-height: 1.6
//}

//.cd-timeline-content .cd-read-more {
//  float: right;
//  padding: .8em 1em;
//  background: #acb7c0;
//  color: #f5f5f5;
//  border-radius: .25em
//}
//
//.no-touch .cd-timeline-content .cd-read-more:hover {
//  background-color: #bac4cb
//}
//
//a.cd-read-more:hover {
//  text-decoration: none;
//  background-color: #424242
//}
//
//.cd-timeline-content .cd-date {
//  float: left;
//  padding: .8em 0;
//  opacity: .7
//}
//
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 100%;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-left: 12px solid #dfdfdf;

}

.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
  //top: 24px;
  left: auto;
  right: 100%;
  border-color: transparent #dfdfdf transparent transparent;
}
  .cd-timeline-content h2 {
    //font-size: 20px;
    font-size: 1.2rem;
    margin-top: 0;
  }
  .cd-timeline-content p {
    //font-size: 16px;
    font-size: 1rem;
    color: gray;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .cd-timeline-content .cd-date, .cd-timeline-content .cd-read-more {
    font-size: 1rem
  }



.cd-right::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 20px;
  height: 0;
  width: 0;
  z-index: 3;
  border: 12px solid transparent;
  border-right: 12px solid #fff
}

.cd-left::before {
  content: '';
  position: absolute;
  top: 27px;
  left: 33px;
  height: 0;
  width: 0;
  z-index: 3;
  border: 12px solid transparent;
  border-right: 12px solid #fff
}

.cd-left::before {
  top: -7px;
  left: -29px;
  border-color: transparent transparent transparent #fff
}

.cd-timeline-img div {
  width: 8px;
  height: 8px;
  background: #ffd24e;
  border-radius: 50%;
  margin: 2px;
}

.cultrue_foot a {
  display: block;
  width: 50px
}

.cultrue_foot img {
  height: 33px;
  margin: 0
}

.cultrue_h3 {
  font-size: 14px
}

.indent {
  text-indent: 70px
}

.col-xs-right {
  width: 16%
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em
}

#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 71%;
  width: 1px;
  background: #222
}

  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px
  }




.sec-logo-grp {
  margin-bottom: 3rem;
  .table-layout {
    td {
      height: 3rem;
      text-align: center;
      padding: 0.6rem;
    }
    img {
      width: 12%;
      margin:0 auto;
      position: relative;
      &:hover, &:focus {
        transform: scale(1.1);
        transition: scale .2s ease-in-out;
        transform-origin: center center;
      }
    }
    .logo-fl {
      width: 9%;
    }
    .logo-zx {
      width: 19%;
      top: -1rem;
    }
    .logo-jyj {
      width: 10%;
      top: 1rem;
      left: -3rem;
    }
    .logo-360 {
      left: -2rem;
      width: 18%;
    }
    .logo-tb {
      left: -4rem;
      top: 2rem;
    }
    .logo-qd {
      width: 27%;
      left: -4rem;
    }
    .logo-lm {
      width: 7%;
      left: -2rem;
    }
    .logo-yysh {
      width: 6%;
      left: 0;
      top: -2rem;
    }
    .logo-cc {
      width: 15%;
      left: 4rem;
      top: -6rem;
    }
    .logo-yb {
      width: 7%;
      left: -3rem;
      top: 1rem;
    }
    .logo-bd {
      width: 18%;
      left: -1rem;
      top: -1rem;
    }
    .logo-jb {
      width: 4%;
      //left: -3rem;
      top: -1rem;
    }
    .logo-ykyj {
      width: 15%;
      left: 2rem;
      top: 0rem;
    }
    .logo-dzdp {
      width: 14%;
      left: 1rem;
      top: 0rem;
    }
    .logo-cdjf {
      width: 28%;
      left: 0rem;
      top: -3rem;
    }
    .logo-xmej {
      width: 6%;
      left: -1rem;
      //top: -3rem;
    }
    .logo-58dj {
      width: 6%;
      //left: -1rem;
      top: -2rem;
    }
    .logo-jbwy {
      width: 8%;
      left: 1rem;
      top: -2rem;
    }
    .logo-58 {
      width: 10%;
      left: 1rem;
      //top: -2rem;
    }
    .logo-qhf {
      //width: 10%;
      left: -2rem;
      //top: -2rem;
    }
  }
}
.sec-contact-meta {
  background: url("../images/brand/bg-mountain.jpg") no-repeat bottom left;
  background-size: contain;
  margin: 1rem auto 0;
  padding:0.4rem 0.4rem 4rem;
  img {
    width: 10%;
  }
  ul {
    margin-top: 0.5rem;
    color: $gray-tint;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .table-layout {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: $gray-tint;
    font-size: 1rem;
    tr {
      td {
        vertical-align: top;
        padding: 0;
        &:first-child {
          width: 20%;
        }
      }
    }
  }
}