@import "variables";
@import "format-bs";

//.jumbotron {
//  background: blue url("../images/rent-house-brushing/poster.jpg") no-repeat top left;
//  background-size: contain;
//  background-repeat: no-repeat;
//  width: 100%;
//  height: 0;
//  padding-top: 21%; /* (images-height / images-width * container-width) */
//  /* (853 / 1280 * 100) */
//  display: inline-block;
//  margin: 0 auto;
//}
.last {
  margin-right: 0;
}
.full-width {
  width: 100%;
}

.table-layout {
  width: 100%;
  td {
    padding: 0.2rem;
  }
  td.no-padding {
    padding: 0;
  }
}

.rounded-md {
  border-radius: .5rem !important;
}

//.header {
//  background: url("../images/rent-house-brushing/poster.jpg") no-repeat center 0;
//  -webkit-background-size: contain;
//  background-size: contain;
//  text-align: center;
//  width: 100%;
//  height: 525px;
//  position: relative;
//}

//.pg-wc-water-leak .header {
//  background: url("../images/wc-water-leak/poster.jpg") no-repeat center 0;
//  -webkit-background-size: cover;
//  background-size: cover;
//  text-align: center;
//  min-height: 300px;
//  position: relative;
//}

.img-poster-wrapper {
  position: relative;
  width: 100%;
  //left: 5%;
  //bottom: 17%;

  .ico-appointment {
    width: 25%;
    display: inline-block;
    position: absolute;
    bottom: 16%;
    left: 6%;
  }
  .ico-400 {
    width: 35%;
    display: inline-block;
    position: absolute;
    left: 6%;
    bottom: 6%;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s;
    }
  }
  .img-poster {
    width: 100%;
  }
  .link-survey {
    position: absolute;
    left: 20%;
    top: 33%;
    width: 8rem;
    height: 2rem;
  }
}
  .img-poster-wrapper-wc {
    .ico-400 {
      left: 37%;
      bottom:13%;

}
}
.test {
  background: red url("../images/rent-house-brushing/poster.jpg") no-repeat center 0;
  background-size: 100%, 100%;
  //background-size: contain;
}

.pg-wc-water-leak .logoimg {
  position: absolute;
  left: -7%;
  right: 1%;
  bottom: 20px;
  .ico-400 {
    width: 100px;
    display: inline-block;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s;
    }
  }
  .ico-400-hand {
    position: relative;
    right: -3rem;
    top: -1rem;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s;
    }
  }
}

.block-title {
  width: 100%;
  margin: 1rem 0;
  h6 {
    color: #636363;
    font-size: 0.8rem;
    font-weight: 300;
  }
  h2 {
    font-weight: 600;
    font-size: 1.5rem;
  }
  &:after {
    content: "";
    display: block;
    width: 3rem;
    height: 0;
    border-bottom: 3px solid $blue;
    margin: 0 auto;
  }
}

.block-title-wall {
  width: 100%;
  margin: 1rem 0;
  h2 {
    font-weight: normal;
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.8rem;
    font-weight: normal;
    color: lighten($gray, 30%);
  }
}

.block-title-y {
  &:after {
    border-bottom: 3px solid $yellow;
  }
}

.sec {
  .last {
    margin-bottom: 1rem;
  }
}

.sec-banner {
  background: url("../images/rent-house-brushing/banner-bg.jpg") no-repeat center 0;
}

.col {
  display: inline-block;
  width: 10%;
}

.ico-advantage {
  width: 70%;
}

.stack {
  position: relative;
  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2rem 0;
    background: rgba(black, 0.5);
    color: $white;
  }
  img {
    position: relative;
    top: 0;
  }
}

.stack-up {
  position: static;
  .title {
    position: static;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    padding: 0.5rem 0;
    background: $white-tint;
    color: $black;
    font-size: 0.9rem;
    &:focus {
      background: blue;
    }
  }
}

.sec-service {
  .last {
    margin-bottom: 2rem;
  }
}

.banner-block-bg {
  background: rgba(black, 0.5);
  padding: 1rem;
  box-shadow: 3px 3px 3px gray;
  .table-service {
    td {
      text-align: left;
      color: $white;
    }
  }
}
.sec-attention {
  ul {
  }
}
.sec-case {
  .stack-case {
    a {
      &:hover {
        text-decoration: none;
      }
    }
    .title {
      color: $white;
      &:focus {
        background: $gray;
      }
    }
  }
  img {
  }
  ul {
    width: 100%;
    color: $gray-tint;
    li.list-inline-item:not(:last-child) {
      margin-right: 3rem;
    }
  }
}

.sec-scence {
  //min-height: 19rem;
  background: url("../images/wc-water-leak/banner-bg.jpg") no-repeat top left;
  background-size: auto;
}
.sec-advantage {
  min-height: 12rem;
  .dec-note {
    font-size: 0.9rem;
  }
}
.sec-advantage-wc {
  min-height: 26rem;
  background: url("../images/wc-water-leak/advantage/advantage-wc-bg.jpg") no-repeat top left;
  background-size: cover;
}
.block-title.inverse {
  color: $white;
  h6 {
  color: $white;
  }
}

.col-wrapper {
  display: inline-block;
  border: 1px solid lighten($gray, 40%);
  background: $white-tint;
  width: 100%;
  float: left;
  margin-bottom: 1rem;
  .img-wrapper {
    float: left;
    width: 40%;
    display: inline-block;
    background: red;
    img {
      width: 100%;
    }
  }
  .content-wrapper {
    display: inline-block;
    padding: 1rem;
    float: left;
    width: 60%;
    height: 100%;
    h5 {
      margin-bottom: 0.5rem;
      font-weight: 400;
      &:after {
        content: "";
        display: block;
        width: 3rem;
        height: 0;
        border-bottom: 3px solid $yellow;
        margin: 0.5rem 0 0 0;
      }
    }
  }
}
.col-wrapper-1 {
  @extend  .col-wrapper;
  background: white;
  min-height: 10rem;
  .img-wrapper {
    float: none;
    width: 100%;
  }
  .content-wrapper {
    float: none;
    width: 100%;
    padding: 0.8rem;
  }
  p {
    margin-bottom: 0;
  }
}
a.red {
  color: $red;
  &:hover {
    color: lighten($red, 0.5);
  }
}
.stack-up-2 {

  .title {
    height: 5rem;
    text-align: left;
    //background-position:  0 0 0;
    h6 {
      display: inline-block;
      //width: 100%;
      //position: absolute;
      //width: 12rem;
      //top: 1rem;
      //right: 1rem;
      //background: red;
      background: $white-tint url("../images/wc-water-leak/ico-num.png") no-repeat;
      height: 45px;
      line-height: 1.5rem;
      margin-top: 6px;
      padding-left: 5rem;
      padding-right: 1rem;
      background-position-x: 15px;
      //background-size: 47px 45px;
      //margin: 0;
    }
  }
  .title-1 {
    h6 {
      background-position-y: 0;
    }
  }
  .title-2 {
    h6 {
      background-position-y: -45px;
      font-size: 0.8rem;
    }
  }
  .title-3 {
    h6 {
      background-position-y: -90px;
    }
  }
  .title-4 {
    h6 {
      background-position-y: -135px;
    }
  }
  .title-5 {
    h6 {
      background-position-y: -180px;
    }
  }
  .title-6 {
    h6 {
      background-position-y: -225px;
    }
  }
}

//page-wall
.sec-coupon {
  p {
    margin-bottom: 0.5rem;
    color: $gray;
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}
.tab-content {
  .tab-pane {
    width: 100%;
    .tab-pan-item-outter {
      display: flex;
      margin-top: 1rem;
      .tab-pane-item {
        flex:1 1 auto;
        margin-right: 0.5rem;
        text-align: center;
        p {
          color: $gray;
          font-size: 0.7rem;
          margin-top: 0.3rem;
        }
      }
      .last {
        margin: 0;
      }
    }
  }
}
.nav-pills {
  border: 1px solid $gray;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: $red;
}
.nav-pills .nav-link {
  border-radius: 0;
  color: $gray;
}
.text-wrapper {
  color: lighten($gray, 20%);
  text-align: center;
  font-size: 0.8rem;
  p {
    margin: 0 0 0.5rem 0;
  }
}

//swiper
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  .img-wrapper {
    width: 50%;
    text-align: center;
    .img-wrapper-dec {
      color: $gray;
      font-size: 0.8rem;
      margin: 1rem 0;
    }
  }
}
.sec-con-process {
  background: $gray-tinter;
}

.stack-case {

  cursor: hand;
  .title {
    z-index: 100;
    background: $black;
    &:focus {
      color: red;
    }
    a {
      color: $white;
    }
  }
  .img-wrapper {
    margin-bottom: 0.5rem;
    position: relative;
  }
  .mask {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background: rgba($black, 0.7);
    z-index: 1;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    &:focus {
      opacity: 1;
    }
    ul{
      color: $white;
      width: 90%;
      text-align: left;
      font-size: 0.8rem;
      margin: 0 auto;
      padding-left: 10%;
      margin-top: 28%;
      li {

      }
    }
    }
  }

.hide {
  display: none;
}
#coupon-wrapper {
  position: relative;
}
#ico-coupon {
  display: inline-block;
  width: 14rem;
  height: 3rem;
  position: absolute;
  left: 27%;
  bottom: 2%;
}

//pg-swiper
.pg-swiper {
  background: $black;
  #swiper-container {
    margin-top: 20%;
  }
}

.pg-swiper {
  .swiper-pagination {
    color: $white;
  }
}

//pg-shop------------------
.panel-heading {
  padding: 0;
  border:0;
}
.panel-title>a, .panel-title>a:active{
  display:block;
  padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:1px;
  word-spacing:3px;
  text-decoration:none;
}
.panel-heading  a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.avator-wrapper {
  width: 60px;
  float: left;
  img {
    width: 100%;
  }
}
.sec-description {
  .btn-wrapper {
    width: 100%;
    text-align: center;
  }
  .well {
    border-radius: 3px;
  }
  .well-staff {
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    .avator-wrapper-outter {
      border-bottom: 1px dotted $gray-tint;
    }
  }
}
.block-title-shop {
  h2 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
  }
}
.stack-down-inverse {
}
.sec-shop-shot {
  .row.spacer {
    margin-bottom: 10px;
  }
}
.sec-shop-contact {
  background: url("../images/shop/bg-gray-tri.gif") no-repeat top left;
  -webkit-background-size: contain;
  background-size: contain;
}
.sec-community {
  .block-title {
    h2 {
      font-size: 2rem;
      font-weight: normal;
      margin: 0;
    }
  }
}
.sec-offline-act .row.spacer {
  margin-bottom: 10px;
}
