.sec-description .btn-wrapper .btn-red {
  margin-right: 2rem;
}
.btn-wide {
  //padding: 0.4rem 1.4rem;
  width: 8rem;
}

.btn-primary {
  color: #f9f9f9;
  background-color: #e8314a;
  border-color: #e8314a;
}
.btn-disable {
  background: #b0b0b0;
  color: #f9f9f9;
}
.btn-disable:hover {
  color: #f9f9f9;
  background: #969696;
}
.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #cf1730;
  border-color: #cf1730;
}
.btn-primary:hover {
  background-color: #cf1730;
  border-color: #cf1730;
}
.btn-primary:active:hover, .btn-primary:active, .btn-primary:active:focus {
  color: #fff;
  background-color: #cf1730;
  border-color: #cf1730;
}