.siteBox .site {
    width: 366px;
    margin: 0 auto;
    border-bottom: 1px solid #eeeeee;
    min-height: 113px;
    cursor: pointer;
}
.siteBox .site .siteMsg {
  padding: 20px 0px 12px 0px;
  font-size: 14px;
  float: none;
  width: 330px;
}