html {
  font-size: 16px; }

.row {
  width: 100%;
  margin: 0 auto; }

.log {
  width: 1224px;
  margin: 0 auto;
  padding-bottom: 20px; }

.noborder p {
  display: block;
  line-height: 22px;
  text-indent: 35px; }

.noborder {
  padding-bottom: 20px; }

.Cultrue_dianpu {
  display: block;
  margin-top: 45px; }

.Cultrue_dianpu img {
  width: 413px;
  height: 313px; }

#indexbooks img {
  width: 100%;
  height: auto; }

.CulTrue_cooperation {
  margin-top: -120px;
  margin-bottom: 45px;
  color: #fff;
  font-size: 24px; }

.thumbnail {
  height: 220px;
  border-width: 0; }

.cd-timeline-content {
  border: 1px solid #dfdfdf; }

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px; }

  .cd-timeline-content p {
    font-size: 14px; }

  .cd-timeline-content .cd-date, .cd-timeline-content .cd-read-more {
    font-size: 14px;
    font-size: 0.875rem; } }
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 20px;
    height: 20px;
    left: 52.5%;
    margin-left: -30px; }

  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 .6s;
    -moz-animation: cd-bounce-1 .6s;
    animation: cd-bounce-1 0.6s; }

  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%; }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent transparent transparent #f5f5f5; }

  .cd-timeline-content .cd-read-more {
    float: left; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content, .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }

  .cd-top {
    width: 150px;
    height: 42px;
    margin: 0 auto -39px;
    text-align: center;
    font-size: 18px;
    line-height: 45px;
    background: #dfdfdf; }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 18px;
    font-size: 1rem; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent #f5f5f5 transparent transparent; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 .6s;
    -moz-animation: cd-bounce-2 .6s;
    animation: cd-bounce-2 0.6s; } }
.Cultrue_Make input, .txttarea {
  border: 1px solid #f5f5f5;
  text-indent: 10px; }

.table-layout img {
  transition: transform 0.3s ease-in; }

.table-layout img:hover {
  transform: scale(1.5); }

.Cultrue_Make input {
  margin-top: 20px;
  width: 100%;
  height: 30px; }

.Cultrue_Yu, .txttarea {
  width: 97%;
  margin-left: 15px; }

.Cultrue_MakeCentent {
  margin-top: 5px; }

.txttarea {
  height: 120px; }

.Cultrue_Yu {
  height: 40px;
  background: #222;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-top: 20px; }
  .Cultrue_Yu:hover {
    background: gray; }

.foot img {
  width: 100%;
  margin-top: 20px; }

.long {
  width: 0;
  height: 1px;
  background: #222;
  transition: width 1s; }

.cultrue_h4 {
  border-bottom: 1px solid #e5e5e5;
  color: #828282;
  cursor: pointer;
  font-size: 17px;
  line-height: 30px; }

.caption:hover div {
  width: 100%; }

.thumbnail p {
  font-size: 15px;
  line-height: 25px; }

.Cultrue_type {
  height: 300px; }

.introduce {
  background: #f5f5f5;
  padding-bottom: 30px; }

.Cultrue_SERVICE {
  text-align: center; }

.desc {
  font-size: 1rem;
  font-weight: normal;
  color: #b0b0b0; }

.cultrue_jiesao {
  margin: 0;
  padding-bottom: 0; }

.cd-container {
  width: 60%;
  max-width: 1170px;
  margin: 0 auto; }

.cd-container::after {
  display: table;
  clear: both; }

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }

#cd-timeline::before {
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: #444; }

.cd-timeline-block:after, .cd-timeline-content:after {
  content: "";
  clear: both; }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em; }

  #cd-timeline::before {
    left: 49.5%;
    margin-left: -2px; } }
.cd-timeline-block {
  position: relative;
  margin: 2em 0; }

.cd-timeline-block:after {
  display: table; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0; }

  .cd-timeline-block:first-child {
    margin-top: 0; }

  .cd-timeline-block:last-child {
    margin-bottom: 0; } }
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #ffd24e, inset 0 2px 0 transparent, 0 0 0 0 rgba(0, 0, 0, 0.05); }

.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px; }

.cd-timeline-img.cd-picture {
  background: #fff; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 20px;
    height: 20px;
    left: 52%;
    margin-left: -30px; }

  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 .6s;
    -moz-animation: cd-bounce-1 .6s;
    animation: cd-bounce-1 0.6s; } }
#cd-timeline::before {
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: #444; }

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  border-radius: .25em;
  padding: 1em; }

.cd-timeline-content:after {
  display: table; }

.cd-timeline-content h2 {
  color: #303e49; }

.cd-timeline-content .cd-date, .cd-timeline-content .cd-read-more, .cd-timeline-content p {
  font-size: 13px;
  font-size: 0.8125rem; }

.cd-timeline-content .cd-date, .cd-timeline-content .cd-read-more {
  display: inline-block; }

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6; }

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: #f5f5f5;
  border-radius: 0.25em; }

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb; }

a.cd-read-more:hover {
  text-decoration: none;
  background-color: #424242; }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: 0.7; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-right: 12px solid #f5f5f5; }

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 1.2rem;
    margin-top: 0; }

  .cd-timeline-content p {
    font-size: 0.8rem;
    color: gray; }
    .cd-timeline-content p:last-child {
      margin-bottom: 0; }

  .cd-timeline-content .cd-date, .cd-timeline-content .cd-read-more {
    font-size: 14px;
    font-size: 0.875rem; } }
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%; }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent transparent transparent #dfdfdf; }

  .cd-timeline-content .cd-read-more {
    float: left; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content, .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }

  .cd-top {
    width: 140px;
    height: 40px;
    margin: 0 auto -39px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    background: #dfdfdf; }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 18px;
    font-size: 1rem; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent #dfdfdf transparent transparent; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 .6s;
    -moz-animation: cd-bounce-2 .6s;
    animation: cd-bounce-2 0.6s; }

  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse .6s;
    -moz-animation: cd-bounce-2-inverse .6s;
    animation: cd-bounce-2-inverse 0.6s; } }
.cd-right::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 30px;
  height: 0;
  width: 0;
  z-index: 3;
  border: 12px solid transparent;
  border-right: 12px solid #fff; }

.cd-left::before {
  content: '';
  position: absolute;
  top: 27px;
  left: 33px;
  height: 0;
  width: 0;
  z-index: 3;
  border: 12px solid transparent;
  border-right: 12px solid #fff; }

.cd-left::before {
  top: 25px;
  left: -21px;
  border-color: transparent transparent transparent #fff; }

.cd-timeline-img div {
  width: 16px;
  height: 16px;
  background: #ffd24e;
  border-radius: 15px;
  margin: 2px; }

.cultrue_foot a {
  display: block;
  width: 50px; }

.cultrue_foot img {
  height: 33px;
  margin: 0; }

.cultrue_foot_top {
  margin-top: -200px; }

.cultrue_h3 {
  font-size: 14px; }

.indent {
  text-indent: 70px; }

.col-xs-right {
  width: 16%; }

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }

#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 1px;
  background: #222; }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em; }

  #cd-timeline::before {
    left: 49.2%;
    margin-left: -2px; } }
.sec-logo-grp {
  margin-bottom: 3rem; }
  .sec-logo-grp .table-layout {
    margin: 2rem; }
    .sec-logo-grp .table-layout img {
      position: relative;
      width: 8%;
      margin: 0 0.5rem; }
      .sec-logo-grp .table-layout img:hover, .sec-logo-grp .table-layout img:focus {
        transform: scale(1.1);
        transition: transform .3s ease-in; }
    .sec-logo-grp .table-layout .logo-fl {
      width: 6%; }
    .sec-logo-grp .table-layout .logo-zx {
      left: -4rem; }
    .sec-logo-grp .table-layout .logo-jyj {
      width: 6%;
      top: 1rem;
      left: -4rem; }
    .sec-logo-grp .table-layout .logo-360 {
      left: -1rem;
      width: 10%; }
    .sec-logo-grp .table-layout .logo-tb {
      left: -6rem; }
    .sec-logo-grp .table-layout .logo-qd {
      width: 24%;
      left: -6rem; }
    .sec-logo-grp .table-layout .logo-lm {
      width: 6%;
      left: -6rem; }
    .sec-logo-grp .table-layout .logo-yysh {
      width: 4%;
      left: -1rem;
      top: -2rem; }
    .sec-logo-grp .table-layout .logo-cc {
      width: 7%;
      left: -4rem;
      top: -4rem; }
    .sec-logo-grp .table-layout .logo-yb {
      width: 7%;
      left: -3rem;
      top: 1rem; }
    .sec-logo-grp .table-layout .logo-bd {
      width: 12%;
      left: -2rem;
      top: -1rem; }
    .sec-logo-grp .table-layout .logo-jb {
      width: 4%;
      top: -1rem; }
    .sec-logo-grp .table-layout .logo-ykyj {
      width: 12%;
      left: 1rem;
      top: 0rem; }
    .sec-logo-grp .table-layout .logo-dzdp {
      width: 6%;
      left: 1rem;
      top: 0rem; }
    .sec-logo-grp .table-layout .logo-cdjf {
      width: 14%;
      top: -3rem; }
    .sec-logo-grp .table-layout .logo-xmej {
      width: 6%;
      left: -1rem; }
    .sec-logo-grp .table-layout .logo-58dj {
      width: 6%;
      top: -2rem; }
    .sec-logo-grp .table-layout .logo-jbwy {
      width: 8%;
      left: 1rem;
      top: -2rem; }
    .sec-logo-grp .table-layout .logo-58 {
      width: 10%;
      left: 1rem; }
    .sec-logo-grp .table-layout .logo-qhf {
      left: -2rem; }

.container-inner {
  padding: 0 4rem; }

/*# sourceMappingURL=brand.css.map */
