@charset "utf-8";
/* CSS Document */
/* for html reset and core html style */

/* reset start */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
html{color:#000;overflow-y:scroll;overflow:-moz-scrollbars-vertical}
body,button,input,select,textarea{font-size:14px;font-family:arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', Tahoma, Arial, Helvetica, STHeiti}
h1,h2,h3,h4,h5,h6{font-size:100%}
em{font-style:normal}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none;}
b{ font-weight:normal;}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
img{-ms-interpolation-mode:bicubic; vertical-align: top;}
textarea{resize:none}
label,button{cursor:pointer}
/* 除IE6浏览器的通用方法 */
.ie6fixedTL{position:fixed;left:0;top:0}
.ie6fixedBR{position:fixed;right:0;bottom:0}
/* IE6浏览器的特有方法 */
/* 修正IE6振动bug */
* html,* html body{background-image:url(about:blank);background-attachment:fixed}
* html .ie6fixedTL{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop))}
* html .ie6fixedBR{position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}

/* core html style */
.left{float:left}
.right{float:right}
.overflow{overflow:hidden}
.hide{display:none}
.block{display:block}
.vh{visibility: hidden;}
.inline{display:inline}
.clear:after{content:'';display:block;clear:both}
.clear{zoom:1}
.clearfix{clear:both;height:0;line-height:0;font-size:0;visibility:hidden;overflow:hidden}
.wordwrap{word-break:break-all;word-wrap:break-word}
.font_pink{color: #e40077;}
.font_w{font-weight:bold;}
.w{width:1224px}

/* 周二 */
html, body {
    position: relative;
    height: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
  /*text-align: center;*/
}
.page1 {
	background:url(../images/page1bg.png) no-repeat;
	background-size: 100%;
}
.pclogo {
	position: absolute;
	top: 55px;
	left: 65px;
	font-weight: bold;
}
.page1-bigpic {
	background: #fff;
	border-radius: 5px;
	width: 40%;
	text-align: center;
	position: absolute;
	top: 20%;
	left: 18%;
	padding-bottom: 1%;
}
.page1-bigpic img {
	width: 95%;
	/*height: 90%;*/
}
.page1-bigpic p {
	font-size: 30px;
	line-height: 50px;
}
.page1-bigpic span {
	color: #ff0000;
}
.page1-smallpic {
	position:absolute;
	top: 18%;
	right: 15%;
	width: 15%;
}
.page1-smallpic li {
	width: 100%;
	background: #fff;
	border-radius: 5px;
	text-align: center;
	padding:1%;
	margin-bottom: 4%;
	cursor: pointer;
}
.page1-smallpic li img {
	width: 98%;
}
.brand div.wrapperforr{
	display: block;
	float: left;
	width: 25%;
	height:100%;
	text-align: center;
	position: relative;
}
.brand img{
	width: 100%;
}
.brand .info{
	display: none;
	color: #fff;
}
.img01{
	background: url(../images/page2pic01.png);
	background-size:100% 100%;
}
.img02{
	background: url(../images/page2pic02.png);
	background-size:100% 100%;
}
.img03{
	background: url(../images/page2pic03.png);
	background-size:100% 100%;
}
.img04{
	background: url(../images/page2pic04.png);
	background-size:100% 100%;
}
.img img{
	text-align:center;
	width:30%;
	margin-top:70%;
}
.infobg01 {
	background: url(../images/page2pic05.png);
	background-size:100% 100%;
}
.infobg02 {
	background: url(../images/page2pic06.png);
	background-size:100% 100%;
}
.infobg03 {
	background: url(../images/page2pic07.png);
	background-size:100% 100%;
}
.infobg04 {
	background: url(../images/page2pic08.png);
	background-size:100% 100%;
}
.infobg01,.infobg02,.infobg03,.infobg04 {

}
.brand .info span{
	display:block;
	padding-top:70%;
	font-size:30px;
}
.brand .info p{
	padding:0 20%;
	line-height:25px;
}
.brand .info a{
	display:block;
	margin-top:10px;
}
.brand .info img{
	width:20%;
}
.vertical .info{
	width: 0;
	height: 100%;
	margin: 0 auto;
}

