.container {
  width: 1224px !important; }

html {
  font-size: 16px; }

body {
  color: #3b3b3b; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.no-padding-l {
  padding-left: 0; }

.no-padding-r {
  padding-right: 0; }

.padding-l-5 {
  padding-left: 5px; }

.padding-r-5 {
  padding-right: 5px; }

.padding-l-10 {
  padding-left: 10px; }

.padding-r-10 {
  padding-right: 10px; }

.padding-lr-10 {
  padding-left: 10px;
  padding-right: 10px; }

.red {
  color: #e8314a; }

.siteBox .site {
  width: 366px;
  margin: 0 auto;
  border-bottom: 1px solid #eeeeee;
  min-height: 113px;
  cursor: pointer; }

.siteBox .site .siteMsg {
  padding: 20px 0px 12px 0px;
  font-size: 14px;
  float: none;
  width: 330px; }

.nav-pills > li > a {
  border-radius: 0; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #e8314a; }

.sec-description .btn-wrapper .btn-red {
  margin-right: 2rem; }

.btn-wide {
  width: 8rem; }

.btn-primary {
  color: #f9f9f9;
  background-color: #e8314a;
  border-color: #e8314a; }

.btn-disable {
  background: #b0b0b0;
  color: #f9f9f9; }

.btn-disable:hover {
  color: #f9f9f9;
  background: #969696; }

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #cf1730;
  border-color: #cf1730; }

.btn-primary:hover {
  background-color: #cf1730;
  border-color: #cf1730; }

.btn-primary:active:hover, .btn-primary:active, .btn-primary:active:focus {
  color: #fff;
  background-color: #cf1730;
  border-color: #cf1730; }

.clearfixs {
  *zoom: 1; }

.clearfixs:before,
.clearfixs:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfixs:after {
  clear: both; }

.container {
  width: 1224px !important; }

html {
  font-size: 16px; }

body {
  color: #3b3b3b; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.no-padding-l {
  padding-left: 0; }

.no-padding-r {
  padding-right: 0; }

.padding-l-5 {
  padding-left: 5px; }

.padding-r-5 {
  padding-right: 5px; }

.padding-l-10 {
  padding-left: 10px; }

.padding-r-10 {
  padding-right: 10px; }

.padding-lr-10 {
  padding-left: 10px;
  padding-right: 10px; }

.red {
  color: #e8314a; }

/*extra css for old header nav with bootstrap - 20171221-zwy*/
.header img {
  vertical-align: top; }

.header a:hover {
  text-decoration: none; }

.header {
  font-size: 12px; }

.head {
  box-sizing: content-box; }

.nav.us, .nav.xm {
  background: rgba(255, 255, 255, 0); }

/*end of extra css for old header nav with bootstrap - 20171221-zwy*/
body {
  font-family: Tahoma, Arial, Helvetica, STHeiti; }

.header {
  font-family: Tahoma, Arial, Helvetica; }

.table-layout-0 {
  width: 100%; }
  .table-layout-0 td {
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0; }
  .table-layout-0 td.no-padding {
    padding: 0; }

.table-layout {
  width: 100%; }
  .table-layout td {
    padding: 0.4rem; }
  .table-layout td.no-padding {
    padding: 0; }

a.red {
  color: #e8314a; }
  a.red:hover {
    color: #e8334c; }

.rounded-md {
  border-radius: .5rem !important; }

.sec-poster {
  background: url("../images/rent-house-brushing/poster.jpg") no-repeat center 0;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  min-height: 300px;
  position: relative; }

.pg-wc-water-leak .link-service {
  left: 41%;
  bottom: 7%;
  width: 12rem;
  height: 5rem;
  overflow: hidden; }

.pg-lease-room-brush .link-service {
  left: 41%;
  bottom: 5%;
  width: 14rem;
  height: 9rem;
  overflow: hidden; }

.logoimg {
  position: absolute;
  left: 1%;
  right: 1%;
  bottom: 20%; }
  .logoimg .ico-400 {
    display: inline-block;
    width: 7rem;
    height: 3rem; }

.pg-wc-water-leak .logoimg {
  position: absolute;
  left: -9%;
  right: 1%;
  bottom: 12%; }
  .pg-wc-water-leak .logoimg .ico-400 {
    width: 9rem;
    height: 3rem;
    display: inline-block; }

.block-title {
  width: 100%;
  margin: 1rem 0; }
  .block-title h6 {
    color: #636363;
    font-size: 0.8rem;
    font-weight: 300; }
  .block-title h2 {
    font-weight: 600; }
    .block-title h2 span {
      margin-left: 1rem;
      color: #636363;
      font-size: 0.9rem;
      font-weight: 400; }
  .block-title:after {
    content: "";
    display: block;
    width: 3rem;
    height: 0;
    border-bottom: 3px solid #66e6ee;
    margin: 0 auto; }

.block-title-y:after {
  border-bottom: 3px solid #f4de2a; }

.sec .last {
  margin-bottom: 1rem; }

.sec.last {
  padding-bottom: 3rem; }

.sec-banner {
  background: url("../images/rent-house-brushing/banner-bg.jpg") no-repeat center 0;
  background-size: cover; }

.col {
  display: inline-block;
  width: 10%; }

.ico-advantage {
  width: 70%; }

.stack {
  position: relative;
  overflow: hidden; }
  .stack .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2rem 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f9f9f9; }
  .stack img {
    position: relative;
    top: 0; }
    .stack img:hover {
      transform: scale(1.05);
      transition: all 0.6s ease-in-out; }

.stack-up {
  position: static; }
  .stack-up .title {
    position: static;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    padding: 0.5rem 0;
    background: #eeeeee;
    color: #3b3b3b; }

.sec-service .last {
  margin-bottom: 2rem; }

.banner-block-bg {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  box-shadow: 3px 3px 3px gray; }
  .banner-block-bg .table-service td {
    text-align: left;
    color: #f9f9f9; }

.sec-case img {
  background-size: cover;
  max-height: 300px;
  width: 100%; }
.sec-case ul {
  width: 100%;
  color: #b0b0b0; }
  .sec-case ul li.list-inline-item:not(:last-child) {
    margin-right: 3rem; }

.sec-scence {
  min-height: 19rem;
  background: url("../images/wc-water-leak/banner-bg.jpg") no-repeat top left;
  background-size: cover; }

.sec-advantage-wc {
  min-height: 26rem;
  background: url("../images/wc-water-leak/advantage/advantage-wc-bg.jpg") no-repeat top left;
  background-size: cover; }

.block-title.inverse {
  color: #f9f9f9; }
  .block-title.inverse h6 {
    color: #f9f9f9; }

.col-wrapper, .col-wrapper-1 {
  display: inline-block;
  border: 1px solid #c9c9c9;
  background: #eeeeee;
  width: 100%;
  float: left; }
  .col-wrapper .img-wrapper, .col-wrapper-1 .img-wrapper {
    float: left;
    width: 40%;
    display: inline-block; }
    .col-wrapper .img-wrapper img, .col-wrapper-1 .img-wrapper img {
      width: 100%; }
  .col-wrapper .content-wrapper, .col-wrapper-1 .content-wrapper {
    display: inline-block;
    padding: 1rem;
    float: left;
    width: 60%;
    height: 100%; }
    .col-wrapper .content-wrapper h5, .col-wrapper-1 .content-wrapper h5 {
      margin-bottom: 0.5rem; }
      .col-wrapper .content-wrapper h5:after, .col-wrapper-1 .content-wrapper h5:after {
        content: "";
        display: block;
        width: 3rem;
        height: 0;
        border-bottom: 3px solid #f4de2a;
        margin: 0.5rem 0 0 0; }

.col-wrapper-1 {
  background: white;
  min-height: 10rem; }
  .col-wrapper-1 .img-wrapper {
    float: none;
    width: 100%; }
  .col-wrapper-1 .content-wrapper {
    float: none;
    width: 100%;
    padding: 0.8rem;
    min-height: 6.2rem; }
  .col-wrapper-1 p {
    margin-bottom: 0; }

.stack-up-2 .title {
  height: 5rem;
  text-align: left; }
  .stack-up-2 .title h6 {
    display: inline-block;
    background: #eeeeee url("../images/wc-water-leak/ico-num.png") no-repeat;
    height: 45px;
    line-height: 1.5rem;
    margin-top: 10px;
    padding-left: 5rem;
    padding-right: 1rem;
    background-position-x: 15px; }
.stack-up-2 .title-1 h6 {
  background-position-y: 0; }
.stack-up-2 .title-2 h6 {
  background-position-y: -45px; }
.stack-up-2 .title-3 h6 {
  background-position-y: -90px; }
.stack-up-2 .title-4 h6 {
  background-position-y: -135px; }
.stack-up-2 .title-5 h6 {
  background-position-y: -180px; }
.stack-up-2 .title-6 h6 {
  background-position-y: -225px; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

.sec-add {
  position: relative; }
  .sec-add .link-service {
    position: absolute;
    display: block;
    cursor: pointer;
    cursor: hand;
    background: url("../images/blank.png"); }

.pg-wall .sec-add {
  background: none;
  position: relative; }
  .pg-wall .sec-add #link-survey {
    position: absolute;
    width: 12rem;
    height: 4rem;
    left: 42%;
    top: 38%;
    cursor: pointer;
    overflow: hidden; }
  .pg-wall .sec-add #link-service {
    position: absolute;
    width: 21rem;
    height: 4rem;
    left: 41%;
    bottom: 11%;
    cursor: pointer;
    overflow: hidden; }

.block-title-wall {
  width: 100%;
  margin: 1rem 0; }
  .block-title-wall h2 {
    font-weight: normal;
    font-size: 1.2rem; }
    .block-title-wall h2 span {
      display: inline-block;
      height: 2rem;
      line-height: 2rem;
      background: url("../images/wall/ico-hurt.png") no-repeat center right;
      padding-right: 1.5rem; }
  .block-title-wall h5 {
    font-size: 0.8rem;
    font-weight: normal;
    color: #b0b0b0; }

#coupon-wrapper {
  position: relative; }

#ico-coupon {
  display: inline-block;
  width: 14rem;
  height: 4rem;
  position: absolute;
  left: 56%;
  bottom: 7%;
  cursor: pointer; }

.sec-coupon p {
  margin-bottom: 0.5rem;
  color: #636363; }
  .sec-coupon p:last-of-type {
    margin-bottom: 2rem; }

.tab-content .tab-pane {
  width: 100%; }
  .tab-content .tab-pane .row.spacer {
    margin-bottom: 20px; }
  .tab-content .tab-pane .tab-pan-item-outter {
    display: table;
    margin-top: 1rem; }
    .tab-content .tab-pane .tab-pan-item-outter .tab-pane-item {
      display: table-cell;
      margin-right: 0.5rem;
      text-align: center; }
      .tab-content .tab-pane .tab-pan-item-outter .tab-pane-item p {
        color: #636363;
        font-size: 0.7rem;
        margin-top: 0.3rem; }
    .tab-content .tab-pane .tab-pan-item-outter .last {
      margin: 0; }

.nav-pills {
  border: 1px solid #636363; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #e8314a; }

.nav-pills .nav-link {
  border-radius: 0;
  color: #3b3b3b;
  display: inline-block;
  float: left; }

.text-wrapper {
  color: #969696;
  text-align: center;
  font-size: 0.8rem;
  margin: 1rem 0; }
  .text-wrapper p {
    margin: 0 0 0.5rem 0; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .swiper-slide .img-wrapper {
    width: 50%;
    text-align: center; }
    .swiper-slide .img-wrapper .img-wrapper-dec {
      color: #636363;
      font-size: 0.8rem;
      margin: 1rem 0; }

.table-process-const td {
  width: 50%;
  margin-bottom: 8rem;
  padding-bottom: 1rem; }

.sec-process-const {
  background: #eeeeee;
  text-align: center; }

.process-const-items .process-const-item {
  width: 100%;
  float: left; }
  .process-const-items .process-const-item .mask {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-background-size: 60px;
    background-size: 60px; }
    .process-const-items .process-const-item .mask:hover {
      background: none; }
  .process-const-items .process-const-item .img-wrapper {
    width: 40%;
    float: left;
    position: relative; }
    .process-const-items .process-const-item .img-wrapper img {
      width: 100%; }
.process-const-items dl {
  display: block;
  float: left;
  margin: 2.5rem 0 0 1rem;
  width: 50%;
  height: auto; }
  .process-const-items dl dt {
    text-align: left;
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    -webkit-transition: all ease-out .2s;
    transition: all ease-out .2s;
    border-bottom: 1px solid #e1e1e1;
    width: 100%; }
    .process-const-items dl dt:before {
      position: absolute;
      content: "";
      width: 10px;
      height: 1px;
      background-color: #3c3c3c;
      margin-top: 21px;
      -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
  .process-const-items dl dd {
    font-size: 0.7rem;
    text-align: left;
    color: #b0b0b0; }

.stack-case {
  display: inline-block; }
  .stack-case .title {
    z-index: 100;
    padding: 0;
    font-size: 0.8rem;
    color: #3b3b3b;
    display: inline-block;
    width: 100%;
    padding: 0.4rem;
    background: #e3e3e3; }
    .stack-case .title:hover {
      background: #3b3b3b;
      color: #f9f9f9; }
  .stack-case .img-wrapper {
    margin-bottom: 0.1rem;
    position: relative; }
  .stack-case .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

#case-7 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0007_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-7:hover {
    background-image: none; }

#case-6 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0006_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-6:hover {
    background: none; }

#case-5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0007_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-5:hover {
    background: none; }

#case-4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0004_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-4:hover {
    background: none; }

#case-3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0003_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-3:hover {
    background: none; }

#case-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0002_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-2:hover {
    background: none; }

#case-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0001_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-1:hover {
    background: none; }

#case-0 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0000_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-0:hover {
    background: none; }

.hide {
  display: none; }

#ul-pills {
  width: 100%;
  padding: 0;
  margin-top: 0; }

.sec-problem .tab-pane-item .img-wrapper {
  padding: 1rem;
  margin-right: 1rem;
  border: 1px solid #e3e3e3;
  min-height: 16rem; }
  .sec-problem .tab-pane-item .img-wrapper p {
    margin-bottom: 0; }
  .sec-problem .tab-pane-item .img-wrapper .last {
    margin: 0; }

.table-layout-1 {
  margin-top: 1rem; }
  .table-layout-1 .img-wrapper {
    border: 1px solid #e3e3e3;
    padding: 1rem;
    margin-right: 1rem;
    text-align: center; }
    .table-layout-1 .img-wrapper img {
      width: 100%; }
    .table-layout-1 .img-wrapper:hover {
      box-shadow: 2px 2px 10px #e3e3e3; }
  .table-layout-1 .last {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0; }
  .table-layout-1 p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0; }

.full-width {
  width: 100%; }

.grid-of-images .table-layout-case td {
  padding: 0.4rem; }
.grid-of-images .gallery-popup {
  cursor: zoom-in; }
.grid-of-images img {
  width: 100%; }
.grid-of-images .title {
  background: blue;
  margin-top: 0.2rem;
  background: #636363;
  color: #f9f9f9;
  padding: 0.2rem;
  font-size: 0.9rem; }
.grid-of-images .trigger-pop {
  position: relative; }
.grid-of-images .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  font-size: 0.8rem;
  text-align: left; }
  .grid-of-images .mask ul {
    width: 100%;
    height: 1%;
    position: relative;
    top: 30%;
    left: 10%; }
    .grid-of-images .mask ul li {
      color: white; }
  .grid-of-images .mask:hover {
    opacity: 1;
    background: rgba(59, 59, 59, 0.6); }

#open-popup {
  padding: 20px; }

.white-popup {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 30rem;
  min-width: 10rem;
  margin: 20px auto;
  text-align: center; }

.order {
  width: 480px;
  height: 360px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #ffffff;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -240px;
  margin-top: -185px;
  z-index: 30;
  display: none; }

.order_title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #5c5c5c;
  background: #dcdcdc;
  text-align: center;
  font-size: 20px;
  position: relative; }

.order p {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #999999;
  font-size: 16px; }

.order p span {
  color: red; }

.input_order {
  width: 298px;
  height: 42px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto 20px; }

.input_order input {
  width: 294px;
  height: 40px;
  margin-top: 2px;
  outline: none;
  border: none;
  font-size: 16px;
  text-indent: 5px;
  margin-left: 2px; }

.order_close {
  width: 27px;
  height: 28px;
  position: absolute;
  right: 2px;
  top: 5px;
  cursor: pointer; }

.order_btn {
  display: block;
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  background: #fa2643;
  font-size: 18px;
  margin: 0 auto;
  border-radius: 5px; }

.sec-contrast .stack {
  position: relative; }
.sec-contrast .mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(249, 249, 249, 0.7);
  z-index: 1; }
  .sec-contrast .mask dl {
    width: 92%;
    margin: 11% auto 0;
    font-size: 0.6rem;
    color: #3b3b3b; }
    .sec-contrast .mask dl dt {
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 0.4rem; }
    .sec-contrast .mask dl dd {
      -webkit-text-size-adjust: none;
      font-size: 0.7rem;
      text-align: left;
      margin-bottom: 0.3rem; }
      .sec-contrast .mask dl dd:last-of-type {
        margin-bottom: 0; }

.sec-map {
  padding: 3rem 0;
  background: white url("../images/shop/bg-city.gif") repeat-x bottom left; }
  .sec-map .bmap {
    width: 762px;
    height: 500px;
    margin-left: 18px;
    float: left;
    box-shadow: 0 0 6px #e3e3e3; }
  .sec-map .shop {
    box-shadow: 0 0 6px #e3e3e3; }
  .sec-map .siteBox {
    background: white; }

.nav-shop-card {
  padding: 0;
  width: 100%;
  border: 1px solid #b0b0b0; }

.tab-pane-shop .table-layout tr > td {
  vertical-align: top;
  width: 50%;
  padding: 1rem; }
.tab-pane-shop .sec-community .table-layout {
  font-size: 0.8rem;
  text-align: center;
  color: #636363;
  font-weight: 300; }
  .tab-pane-shop .sec-community .table-layout td {
    vertical-align: top;
    width: 14.2%; }
.tab-pane-shop .sec-community .well {
  box-shadow: none;
  background: white;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 0; }
.tab-pane-shop .sec-community ul li {
  margin-bottom: 0.1rem; }
.tab-pane-shop .sec-community p {
  position: relative;
  top: 10px;
  margin: 0; }
  .tab-pane-shop .sec-community p:before {
    content: "";
    display: block;
    width: 4rem;
    height: 0;
    border-bottom: 1px solid #636363;
    margin: 0 auto 1rem; }
  .tab-pane-shop .sec-community p:after {
    content: "";
    display: block;
    width: 90%;
    height: 0;
    border-bottom: 1px solid #e3e3e3;
    margin: 1rem auto; }

.tab-pane-worker .table-layout tr > td {
  vertical-align: top;
  width: 25%;
  padding: 0; }

.avator-wrapper {
  width: 100px;
  float: left; }
  .avator-wrapper img {
    width: 100%; }

ul.avator-meta {
  margin-left: 10px;
  float: left;
  display: block;
  color: #636363; }
  ul.avator-meta li.title {
    font-size: 1.3rem;
    color: #3b3b3b;
    margin: 0.2rem 0; }
  ul.avator-meta .data-left {
    margin-right: 1rem; }
  ul.avator-meta .data-right {
    margin-left: 6rem; }
  ul.avator-meta .ico-call-400 {
    width: 42px;
    display: inline-block;
    margin-left: 4px; }
    ul.avator-meta .ico-call-400 img {
      width: 100%; }

.sec-description .btn-wrapper .btn-red {
  margin-right: 2rem; }

.sec-description .btn-wrapper {
  width: 100%;
  text-align: center; }

.well-shop {
  border: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 0; }
  .well-shop .btn-wrapper .btn-red {
    margin-right: 2rem; }

.well-shop dl, .well-shop p, .well-manager dl, .well-manager p {
  font-size: 0.9rem;
  line-height: 1.8rem;
  height: 8rem;
  margin-top: 1rem;
  color: #636363; }
  .well-shop dl dd, .well-shop p dd, .well-manager dl dd, .well-manager p dd {
    line-height: 1.5rem; }

.well-shop-staff {
  box-shadow: none;
  width: 100%;
  float: left;
  padding: 0 0 2.4rem 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .well-shop-staff .outter {
    border-bottom: 1px dotted #b0b0b0;
    width: 100%; }
  .well-shop-staff .avator-wrapper-outter {
    margin-bottom: 0.8rem; }
  .well-shop-staff ul.avator-meta .title {
    color: #3b3b3b; }
  .well-shop-staff ul.avator-meta li {
    margin-bottom: 0.3rem; }
    .well-shop-staff ul.avator-meta li:last-child {
      margin-bottom: 0; }
  .well-shop-staff ul.avator-meta-extra {
    margin-bottom: 1.2rem; }
  .well-shop-staff p {
    color: #636363;
    font-size: 0.9rem;
    line-height: 1.8rem; }
  .well-shop-staff .inner {
    padding: 1rem 1rem 0 1rem;
    float: left;
    width: 100%; }
  .well-shop-staff .btn-wrapper .btn-red {
    margin-right: 2rem; }
  .well-shop-staff .btn-wrapper .outter {
    border-bottom: 1px dotted #b0b0b0;
    float: left;
    width: 100%; }
  .well-shop-staff .well-staff {
    position: relative;
    margin-bottom: 0;
    text-align: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: white;
    -webkit-background-size: 3.5rem;
    background-size: 3.5rem;
    padding: 0 0 2.4rem 0; }
    .well-shop-staff .well-staff .avator-wrapper-outter {
      padding-bottom: 0.5rem;
      margin-bottom: 0; }
    .well-shop-staff .well-staff ul.avator-meta {
      font-size: 1rem; }
      .well-shop-staff .well-staff ul.avator-meta .title {
        font-size: 1.5rem;
        margin: 0.4rem 0; }
    .well-shop-staff .well-staff ul.avator-meta-extra {
      float: left;
      display: block;
      font-size: 1rem; }
      .well-shop-staff .well-staff ul.avator-meta-extra li {
        width: 48%;
        display: inline-block;
        margin-bottom: 0.3rem;
        position: relative; }
      .well-shop-staff .well-staff ul.avator-meta-extra li.shorter {
        width: 40%; }
      .well-shop-staff .well-staff ul.avator-meta-extra li.longer {
        width: 56%; }

.nav-shop-card {
  margin: 20px auto; }

.block-title-shop {
  margin: 1rem 0; }
  .block-title-shop h2 {
    margin: 0; }

.stack {
  display: table; }
  .stack .mask {
    position: absolute;
    display: table-cell;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2rem 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f9f9f9; }
    .stack .mask .title {
      background: none;
      position: absolute;
      font-size: 1.5rem;
      font-weight: normal;
      top: 40%;
      background: url("../images/shop/ico-magnifier.png") no-repeat top center;
      padding: 2.5rem; }

.spacer .stack {
  margin-bottom: 10px; }

.sec-shop-shot .block-title-shop {
  margin: 0 0 2rem 0; }
  .sec-shop-shot .block-title-shop h2 {
    margin: 0; }
.sec-shop-shot .stack-down-inverse .mask {
  opacity: 0; }
  .sec-shop-shot .stack-down-inverse .mask:hover {
    opacity: 1; }

.sec-shop-contact {
  background: white url("../images/shop/bg-gray-tri.gif") repeat-x top left;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 1rem 0 3rem 0; }
  .sec-shop-contact h6 {
    font-size: 1.5rem;
    margin: 4rem 0 1rem 0;
    text-indent: 0; }
  .sec-shop-contact p {
    font-size: 1rem;
    color: #636363;
    text-indent: 5rem; }
  .sec-shop-contact .img-worker {
    width: auto;
    margin: 0 auto;
    position: relative;
    top: -1rem; }
  .sec-shop-contact .btn-submit {
    margin-top: 4.8rem; }

input[type="submit"] {
  background: orange;
  color: #fff; }

.selectPicker {
  position: relative;
  width: 88%;
  margin: 3rem auto 0rem; }

.select {
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  height: 2.5rem;
  width: 100%;
  background: white;
  overflow: hidden; }

.option {
  z-index: 1;
  position: absolute;
  margin: 0 auto 0;
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 100%;
  font-size: 1rem;
  color: #636363;
  padding: 2px 0; }
  .option > div {
    padding: 2px;
    cursor: pointer; }

.select .sm {
  width: 10%;
  height: 100%;
  float: left;
  cursor: pointer;
  text-align: center;
  line-height: 2.5rem; }
  .select .sm img {
    width: 30%; }

.select .text {
  text-align: left;
  width: 88%;
  height: 2.5rem;
  font-size: 1rem;
  line-height: 2.5rem;
  float: left;
  background: white;
  color: #a2a1a1;
  text-indent: 0.5rem; }

.phoneNub {
  width: 88%;
  margin: 1rem auto;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  height: 2.5rem;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1rem;
  line-height: 2.5rem;
  background: #fafafa;
  color: #a2a1a1;
  position: relative; }
  .phoneNub .sm {
    width: 8%;
    height: 100%;
    right: 0;
    cursor: pointer;
    text-align: center;
    line-height: 2.5rem;
    margin-right: 0.8rem;
    position: absolute; }
    .phoneNub .sm img {
      width: 60%; }
  .phoneNub input {
    width: 100%;
    height: 100%;
    background: white;
    outline: none;
    border: none;
    text-indent: 0.5rem;
    font-size: 1rem; }
    .phoneNub input::placeholder {
      color: #b0b0b0; }

.block-title-no-line:after {
  display: none; }

.sec-banner-shop {
  margin-bottom: 1rem;
  background: none; }
  .sec-banner-shop .scroll-wrapper {
    height: 450px;
    overflow-y: scroll; }

.sec-offline-act .block-title-shop {
  margin: 0 0 2rem 0; }

.sec-logo-grp .table-layout {
  margin: 2rem 0; }
  .sec-logo-grp .table-layout td {
    padding: 1rem; }
  .sec-logo-grp .table-layout img {
    position: relative;
    width: 8%;
    margin: 0 0.5rem; }
    .sec-logo-grp .table-layout img:hover, .sec-logo-grp .table-layout img:focus {
      transform: scale(1.1);
      transition: transform .3s ease-in; }
  .sec-logo-grp .table-layout .logo-fl {
    width: 6%; }
  .sec-logo-grp .table-layout .logo-zx {
    left: -4rem; }
  .sec-logo-grp .table-layout .logo-jyj {
    width: 6%;
    top: 1rem;
    left: -4rem; }
  .sec-logo-grp .table-layout .logo-360 {
    left: -1rem;
    width: 10%; }
  .sec-logo-grp .table-layout .logo-tb {
    left: -6rem; }
  .sec-logo-grp .table-layout .logo-qd {
    width: 24%;
    left: -6rem; }
  .sec-logo-grp .table-layout .logo-lm {
    width: 6%;
    left: -6rem; }
  .sec-logo-grp .table-layout .logo-yysh {
    width: 4%;
    left: -1rem;
    top: -2rem; }
  .sec-logo-grp .table-layout .logo-cc {
    width: 9%;
    left: -4rem;
    top: -4rem; }
  .sec-logo-grp .table-layout .logo-yb {
    width: 7%;
    left: -3rem;
    top: 1rem; }
  .sec-logo-grp .table-layout .logo-bd {
    width: 12%;
    left: -2rem;
    top: -1rem; }
  .sec-logo-grp .table-layout .logo-jb {
    width: 4%;
    top: -1rem; }
  .sec-logo-grp .table-layout .logo-ykyj {
    width: 12%;
    left: 1rem;
    top: 0rem; }
  .sec-logo-grp .table-layout .logo-dzdp {
    width: 6%;
    left: 1rem;
    top: 0rem; }
  .sec-logo-grp .table-layout .logo-cdjf {
    width: 14%;
    top: -3rem; }
  .sec-logo-grp .table-layout .logo-xmej {
    width: 6%;
    left: -1rem; }
  .sec-logo-grp .table-layout .logo-58dj {
    width: 6%;
    top: -2rem; }
  .sec-logo-grp .table-layout .logo-jbwy {
    width: 8%;
    left: 1rem;
    top: -2rem; }
  .sec-logo-grp .table-layout .logo-58 {
    width: 10%;
    left: 1rem; }
  .sec-logo-grp .table-layout .logo-qhf {
    width: 8%;
    left: -2rem;
    top: -1rem; }

.sec-banner-worker {
  position: relative; }
  .sec-banner-worker .img-poster-wrapper .outer {
    width: 100%;
    position: absolute;
    text-align: left;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; }
    .sec-banner-worker .img-poster-wrapper .outer .form-wrapper {
      position: absolute;
      text-align: center;
      left: 30%;
      right: 30%;
      bottom: 18%;
      top: 70%; }
      .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner {
        background: rgba(59, 59, 59, 0.8); }
        .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .selectPicker {
          position: relative;
          width: 35%;
          margin: 1rem 0.5rem 1rem 1rem;
          float: left; }
        .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .phoneNub {
          width: 35%;
          float: left;
          margin: 1rem 0 1rem 0;
          border-radius: 4px;
          border: 1px solid #e6e6e6;
          height: 2.5rem;
          box-sizing: border-box;
          overflow: hidden;
          font-size: 1rem;
          line-height: 2rem;
          background: #fafafa;
          color: #a2a1a1;
          position: relative; }
          .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .phoneNub .sm {
            width: 8%;
            height: 100%;
            right: 0;
            cursor: pointer;
            text-align: center;
            line-height: 1.5rem;
            margin-right: 5%;
            position: absolute; }
            .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .phoneNub .sm img {
              width: 100%; }
          .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .phoneNub input {
            width: 88%;
            height: 100%;
            background: #fafafa;
            outline: none;
            border: none; }
            .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .phoneNub input::placeholder {
              color: #636363; }
        .sec-banner-worker .img-poster-wrapper .outer .form-wrapper .inner .btn-submit {
          float: right;
          margin: 1rem 1rem 1rem 0;
          height: 2.5rem;
          width: 20%; }

.form-search-worker {
  margin-top: 20px; }
  .form-search-worker .form-control {
    display: inline-block;
    width: 12rem;
    box-shadow: none; }

.well-staff {
  box-shadow: none;
  width: 100%;
  float: left; }
  .well-staff .avator-wrapper-outter {
    margin-bottom: 0.8rem; }
  .well-staff dl, .well-staff p, .well-staff ul {
    font-size: 1rem;
    color: #7d7d7d; }
  .well-staff ul.avator-meta .title {
    color: #3b3b3b; }
  .well-staff ul.avator-meta li {
    margin-bottom: 0.3rem; }
    .well-staff ul.avator-meta li:last-child {
      margin-bottom: 0; }
  .well-staff ul.avator-meta-extra {
    margin-bottom: 1.2rem; }
  .well-staff .inner {
    padding: 1rem 1rem 0 1rem;
    float: left;
    width: 100%; }
  .well-staff .outter {
    border-bottom: 1px dotted #b0b0b0;
    float: left;
    width: 100%; }
  .well-staff:hover {
    box-shadow: 0 0 10px #e3e3e3; }

.star {
  display: inline-block;
  width: 6rem;
  position: relative;
  top: 2px; }

.well-staff-important {
  position: relative;
  margin-bottom: 0;
  text-align: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: white;
  -webkit-background-size: 3.5rem;
  background-size: 3.5rem;
  padding: 0 0 2.4rem 0; }
  .well-staff-important .avator-wrapper-outter {
    padding-bottom: 0.5rem;
    margin-bottom: 0; }
  .well-staff-important ul.avator-meta {
    font-size: 1rem; }
    .well-staff-important ul.avator-meta .title {
      font-size: 1.5rem;
      margin: 0.4rem 0; }
  .well-staff-important ul.avator-meta-extra {
    float: left;
    display: block;
    font-size: 1rem; }
    .well-staff-important ul.avator-meta-extra li {
      width: 48%;
      display: inline-block;
      margin-bottom: 0.3rem; }
  .well-staff-important .btn-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    .well-staff-important .btn-wrapper .btn-worker-require {
      color: #e8314a;
      background: #f9f9f9;
      border-radius: 0;
      width: 100%;
      padding: 0.8rem 0;
      border-top: 1px solid #e3e3e3; }
      .well-staff-important .btn-wrapper .btn-worker-require:hover {
        background: white; }
      .well-staff-important .btn-wrapper .btn-worker-require:active, .well-staff-important .btn-wrapper .btn-worker-require:hover:active {
        background: #ececec; }

.well-staff-general {
  position: relative;
  margin-bottom: 0;
  text-align: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: white;
  -webkit-background-size: 3.5rem;
  background-size: 3.5rem;
  padding: 0; }
  .well-staff-general .avator-wrapper-outter {
    padding-bottom: 0.5rem;
    margin-bottom: 0; }
  .well-staff-general .avator-wrapper {
    width: 80px;
    float: left; }
    .well-staff-general .avator-wrapper img {
      width: 100%; }
  .well-staff-general .inner {
    padding: 0.5rem;
    float: left;
    width: 100%; }
  .well-staff-general .star {
    display: inline-block;
    width: 4rem; }
    .well-staff-general .star img {
      width: 100%;
      position: relative;
      top: -4px; }
  .well-staff-general ul.avator-meta {
    font-size: 0.7rem;
    margin-bottom: 0; }
    .well-staff-general ul.avator-meta .title {
      font-size: 1.2rem;
      margin: 0.4rem 0; }
  .well-staff-general ul.avator-meta-extra {
    float: left;
    display: block;
    font-size: 0.7rem;
    margin-bottom: 0; }
    .well-staff-general ul.avator-meta-extra li {
      width: 45%;
      display: inline-block;
      margin-bottom: 0.3rem; }
  .well-staff-general .btn-wrapper .btn-worker-require {
    color: #e8314a;
    background: #f9f9f9;
    border-radius: 0;
    width: 100%;
    padding: 0.8rem 0;
    border-top: 1px solid #e3e3e3; }
    .well-staff-general .btn-wrapper .btn-worker-require:hover {
      background: white; }
    .well-staff-general .btn-wrapper .btn-worker-require:active, .well-staff-general .btn-wrapper .btn-worker-require:hover:active {
      background: #ececec; }

.well-staff-jinpai {
  background: white url("../images/shop/ico-jinpai.png") no-repeat top right; }

.well-staff-biaogan {
  background: white url("../images/shop/ico-biaogan.png") no-repeat top right; }

.well-staff-youxiu {
  background: white url("../images/shop/ico-youxiu.png") no-repeat top right; }

.well-staff-leader {
  background: white url("../images/worker/ico-leader.png") no-repeat top right;
  background-size: 2rem;
  background-position: 95% 0; }

.sec-worker-important .spacer {
  margin-bottom: 30px; }

.log {
  width: 1224px;
  margin: 0 auto;
  padding-bottom: 20px; }

.noborder p {
  display: block;
  line-height: 22px;
  text-indent: 35px; }

.noborder {
  padding-bottom: 20px; }

.Cultrue_dianpu {
  display: block;
  margin-top: 45px; }

.Cultrue_dianpu img {
  width: 413px;
  height: 313px; }

#indexbooks img {
  width: 100%;
  height: auto; }

.CulTrue_cooperation {
  margin-top: -120px;
  color: #fff;
  font-size: 24px; }

.thumbnail {
  height: 220px;
  border: none; }

.cd-timeline-content {
  border: 1px solid #dfdfdf; }

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px; }

  .cd-timeline-content p {
    font-size: 14px; }

  .cd-timeline-content .cd-date, .cd-timeline-content .cd-read-more {
    font-size: 14px;
    font-size: 0.875rem; } }
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 20px;
    height: 20px;
    left: 52.5%;
    margin-left: -30px; }

  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 .6s;
    -moz-animation: cd-bounce-1 .6s;
    animation: cd-bounce-1 0.6s; }

  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%; }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent transparent transparent #f5f5f5; }

  .cd-timeline-content .cd-read-more {
    float: left; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content, .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }

  .cd-top {
    width: 150px;
    height: 42px;
    margin: 0 auto -39px;
    text-align: center;
    font-size: 18px;
    line-height: 45px;
    background: #dfdfdf; }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 18px;
    font-size: 1rem; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent #f5f5f5 transparent transparent; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 .6s;
    -moz-animation: cd-bounce-2 .6s;
    animation: cd-bounce-2 0.6s; } }
.Cultrue_Make .spacer {
  margin-bottom: 1rem; }

.Cultrue_Make input, .txttarea {
  border: 1px solid #f5f5f5;
  text-indent: 0.6rem; }

.table-layout img {
  transition: transform 0.3s ease-in; }

.table-layout img:hover {
  transform: scale(1.5); }

.Cultrue_Make input {
  width: 100%;
  height: 2rem;
  border-color: #dedede;
  color: #bababa; }
  .Cultrue_Make input::placeholder {
    color: #bababa; }

.Cultrue_Make input[placeholder] {
  color: #bababa; }

.Cultrue_Yu, .txttarea {
  width: 100%;
  border-color: #dedede;
  color: #bababa; }

.Cultrue_MakeCentent {
  margin-top: 5px; }

.txttarea {
  height: 120px; }

.Cultrue_Yu {
  height: 40px;
  background: #505050;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-top: 20px; }

.Cultrue_Yu:hover {
  background: #3b3b3b; }

.foot img {
  width: 100%;
  margin-top: 20px; }

.long {
  width: 1.5rem;
  height: 1px;
  background: #222;
  transition: width 1s; }

.cultrue_h4 {
  border-bottom: 1px solid #e5e5e5;
  color: #828282;
  cursor: pointer;
  font-size: 17px;
  line-height: 30px; }

.caption:hover div {
  width: 100%; }

.thumbnail p {
  font-size: 15px;
  line-height: 25px; }

.Cultrue_type {
  height: 300px; }

.introduce {
  background: #f5f5f5;
  padding-bottom: 30px; }

.Cultrue_SERVICE {
  text-align: center;
  margin: 1rem 0 2rem; }

.desc {
  font-size: 1rem;
  font-weight: normal;
  color: #b0b0b0; }

.cultrue_jiesao {
  margin: 0;
  padding-bottom: 0; }

.cd-container {
  width: 60%;
  max-width: 1170px;
  margin: 0 auto; }

.cd-container::after {
  display: table;
  clear: both; }

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }

#cd-timeline::before {
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: #444; }

.cd-timeline-block:after, .cd-timeline-content:after {
  content: "";
  clear: both; }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em; }

  #cd-timeline::before {
    left: 49.5%;
    margin-left: -2px; } }
.cd-timeline-block {
  position: relative;
  margin: 2em 0; }

.cd-timeline-block:after {
  display: table; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0; }

  .cd-timeline-block:first-child {
    margin-top: 4rem; }

  .cd-timeline-block:last-child {
    margin-bottom: 0; } }
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #ffd24e, inset 0 2px 0 transparent, 0 0 0 0 rgba(0, 0, 0, 0.05); }

.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px; }

.cd-timeline-img.cd-picture {
  background: #fff; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 18px;
    height: 18px;
    left: 50%;
    margin-left: -10px; }

  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 .6s;
    -moz-animation: cd-bounce-1 .6s;
    animation: cd-bounce-1 0.6s; } }
#cd-timeline::before {
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: #444; }

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  border-radius: .25em;
  padding: 1em; }

.cd-timeline-content:after {
  display: table; }

.cd-timeline-content h2 {
  color: #303e49; }

.cd-timeline-content .cd-date, .cd-timeline-content .cd-read-more, .cd-timeline-content p {
  font-size: 13px;
  font-size: 0.8125rem; }

.cd-timeline-content .cd-date, .cd-timeline-content .cd-read-more {
  display: inline-block; }

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6; }

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: #f5f5f5;
  border-radius: 0.25em; }

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb; }

a.cd-read-more:hover {
  text-decoration: none;
  background-color: #424242; }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: 0.7; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-right: 12px solid #f5f5f5; }

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 1.2rem;
    margin-top: 0; }

  .cd-timeline-content p {
    font-size: 0.8rem;
    color: gray; }

  .cd-timeline-content p:last-child {
    margin-bottom: 0; }

  .cd-timeline-content .cd-date, .cd-timeline-content .cd-read-more {
    font-size: 14px;
    font-size: 0.875rem; } }
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 40%;
    top: -27px; }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent transparent transparent #dfdfdf; }

  .cd-timeline-content .cd-read-more {
    float: left; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content, .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }

  .cd-top {
    width: 140px;
    height: 40px;
    margin: 0 auto -39px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    background: #dfdfdf; }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 18px;
    font-size: 1rem; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent #dfdfdf transparent transparent; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 .6s;
    -moz-animation: cd-bounce-2 .6s;
    animation: cd-bounce-2 0.6s; }

  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse .6s;
    -moz-animation: cd-bounce-2-inverse .6s;
    animation: cd-bounce-2-inverse 0.6s; } }
.cd-right::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 60px;
  height: 0;
  width: 0;
  z-index: 3;
  border: 12px solid transparent;
  border-right: 12px solid #fff; }

.cd-left::before {
  content: '';
  position: absolute;
  top: 27px;
  left: 33px;
  height: 0;
  width: 0;
  z-index: 3;
  border: 12px solid transparent;
  border-right: 12px solid #fff; }

.cd-left::before {
  top: -2px;
  left: -64px;
  border-color: transparent transparent transparent #fff; }

.cd-timeline-img div {
  width: 14px;
  height: 14px;
  background: #ffd24e;
  border-radius: 15px;
  margin: 2px; }

.cultrue_foot a {
  display: block;
  width: 50px; }

.cultrue_foot img {
  height: 33px;
  margin: 0; }

.cultrue_foot_top {
  margin-top: -200px; }

.cultrue_h3 {
  font-size: 14px; }

.indent {
  text-indent: 70px; }

.col-xs-right {
  width: 16%; }

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }

#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 1px;
  background: #222; }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em; }

  #cd-timeline::before {
    left: 50%;
    margin-left: -2px; } }
.container-inner {
  padding: 0 4rem; }

@media (min-width: 1200px) {
  .container {
    width: 1224px !important; } }
.selecPicker-brand {
  margin-top: 0;
  width: 100%;
  border-radius: 0;
  height: 2rem;
  text-align: center;
  cursor: pointer; }
  .selecPicker-brand .select {
    border-radius: 0;
    line-height: 0.5rem;
    height: 2rem; }
    .selecPicker-brand .select .text {
      height: 2rem;
      line-height: 2rem;
      text-align: left;
      font-size: 0.9rem;
      border-color: #dedede; }
    .selecPicker-brand .select .sm {
      width: 10%;
      height: 2rem;
      line-height: 2rem;
      float: right;
      text-align: center;
      padding-top: 0.7rem; }
  .selecPicker-brand .option {
    border-radius: 0;
    border-top: none;
    font-size: 0.9rem; }

.sec-brand-corp {
  position: relative;
  width: 100%; }
  .sec-brand-corp .banner-title-wrapper {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*# sourceMappingURL=yiniao-bs-337.css.map */
