.container {
  width: 920px !important; }

body {
  color: #3b3b3b; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

body {
  font-family: Tahoma, Arial, Helvetica, STHeiti; }

.header {
  font-family: Tahoma, Arial, Helvetica; }

.table-layout-0 {
  width: 100%; }
  .table-layout-0 td {
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0; }
  .table-layout-0 td.no-padding {
    padding: 0; }

.table-layout {
  width: 100%; }
  .table-layout td {
    padding: 0.4rem; }
  .table-layout td.no-padding {
    padding: 0; }

a.red {
  color: #e8314a; }
  a.red:hover {
    color: #e8334c; }

.rounded-md {
  border-radius: .5rem !important; }

.sec-poster {
  background: url("../images/rent-house-brushing/poster.jpg") no-repeat center 0;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  min-height: 300px;
  position: relative; }

.pg-wc-water-leak .link-service {
  left: 41%;
  bottom: 7%;
  width: 12rem;
  height: 5rem;
  overflow: hidden; }

.pg-lease-room-brush .link-service {
  left: 41%;
  bottom: 5%;
  width: 14rem;
  height: 9rem;
  overflow: hidden; }

.logoimg {
  position: absolute;
  left: 1%;
  right: 1%;
  bottom: 20%; }
  .logoimg .ico-400 {
    display: inline-block;
    width: 7rem;
    height: 3rem; }

.pg-wc-water-leak .logoimg {
  position: absolute;
  left: -9%;
  right: 1%;
  bottom: 12%; }
  .pg-wc-water-leak .logoimg .ico-400 {
    width: 9rem;
    height: 3rem;
    display: inline-block; }

.block-title {
  width: 100%;
  margin: 1rem 0; }
  .block-title h6 {
    color: #636363;
    font-size: 0.8rem;
    font-weight: 300; }
  .block-title h2 {
    font-weight: 600; }
  .block-title:after {
    content: "";
    display: block;
    width: 3rem;
    height: 0;
    border-bottom: 3px solid #66e6ee;
    margin: 0 auto; }

.block-title-y:after {
  border-bottom: 3px solid #f4de2a; }

.sec .last {
  margin-bottom: 1rem; }

.sec.last {
  padding-bottom: 3rem; }

.sec-banner {
  background: url("../images/rent-house-brushing/banner-bg.jpg") no-repeat center 0;
  background-size: cover; }

.col {
  display: inline-block;
  width: 10%; }

.ico-advantage {
  width: 70%; }

.stack {
  position: relative; }
  .stack .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2rem 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f9f9f9; }
  .stack img {
    position: relative;
    top: 0; }

.stack-up {
  position: static; }
  .stack-up .title {
    position: static;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    padding: 0.5rem 0;
    background: #eeeeee;
    color: #3b3b3b; }

.sec-service .last {
  margin-bottom: 2rem; }

.banner-block-bg {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  box-shadow: 3px 3px 3px gray; }
  .banner-block-bg .table-service td {
    text-align: left;
    color: #f9f9f9; }

.sec-case img {
  background-size: cover;
  max-height: 300px;
  width: 100%; }
.sec-case ul {
  width: 100%;
  color: #b0b0b0; }
  .sec-case ul li.list-inline-item:not(:last-child) {
    margin-right: 3rem; }

.sec-scence {
  min-height: 19rem;
  background: url("../images/wc-water-leak/banner-bg.jpg") no-repeat top left;
  background-size: cover; }

.sec-advantage-wc {
  min-height: 26rem;
  background: url("../images/wc-water-leak/advantage/advantage-wc-bg.jpg") no-repeat top left;
  background-size: cover; }

.block-title.inverse {
  color: #f9f9f9; }
  .block-title.inverse h6 {
    color: #f9f9f9; }

.col-wrapper, .col-wrapper-1 {
  display: inline-block;
  border: 1px solid #c9c9c9;
  background: #eeeeee;
  width: 100%;
  float: left; }
  .col-wrapper .img-wrapper, .col-wrapper-1 .img-wrapper {
    float: left;
    width: 40%;
    display: inline-block; }
    .col-wrapper .img-wrapper img, .col-wrapper-1 .img-wrapper img {
      width: 100%; }
  .col-wrapper .content-wrapper, .col-wrapper-1 .content-wrapper {
    display: inline-block;
    padding: 1rem;
    float: left;
    width: 60%;
    height: 100%; }
    .col-wrapper .content-wrapper h5, .col-wrapper-1 .content-wrapper h5 {
      margin-bottom: 0.5rem; }
      .col-wrapper .content-wrapper h5:after, .col-wrapper-1 .content-wrapper h5:after {
        content: "";
        display: block;
        width: 3rem;
        height: 0;
        border-bottom: 3px solid #f4de2a;
        margin: 0.5rem 0 0 0; }

.col-wrapper-1 {
  background: white;
  min-height: 10rem; }
  .col-wrapper-1 .img-wrapper {
    float: none;
    width: 100%; }
  .col-wrapper-1 .content-wrapper {
    float: none;
    width: 100%;
    padding: 0.8rem;
    min-height: 6.2rem; }
  .col-wrapper-1 p {
    margin-bottom: 0; }

.stack-up-2 .title {
  height: 5rem;
  text-align: left; }
  .stack-up-2 .title h6 {
    display: inline-block;
    background: #eeeeee url("../images/wc-water-leak/ico-num.png") no-repeat;
    height: 45px;
    line-height: 1.5rem;
    margin-top: 10px;
    padding-left: 5rem;
    padding-right: 1rem;
    background-position-x: 15px; }
.stack-up-2 .title-1 h6 {
  background-position-y: 0; }
.stack-up-2 .title-2 h6 {
  background-position-y: -45px; }
.stack-up-2 .title-3 h6 {
  background-position-y: -90px; }
.stack-up-2 .title-4 h6 {
  background-position-y: -135px; }
.stack-up-2 .title-5 h6 {
  background-position-y: -180px; }
.stack-up-2 .title-6 h6 {
  background-position-y: -225px; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

.sec-add {
  position: relative; }
  .sec-add .link-service {
    position: absolute;
    display: block;
    cursor: pointer;
    cursor: hand;
    background: url("../images/blank.png"); }

.pg-wall .sec-add {
  background: none;
  position: relative; }
  .pg-wall .sec-add #link-survey {
    position: absolute;
    width: 12rem;
    height: 4rem;
    left: 42%;
    top: 38%;
    cursor: pointer;
    overflow: hidden; }
  .pg-wall .sec-add #link-service {
    position: absolute;
    width: 21rem;
    height: 4rem;
    left: 41%;
    bottom: 11%;
    cursor: pointer;
    overflow: hidden; }

.block-title-wall {
  width: 100%;
  margin: 1rem 0; }
  .block-title-wall h2 {
    font-weight: normal;
    font-size: 1.2rem; }
    .block-title-wall h2 span {
      display: inline-block;
      height: 2rem;
      line-height: 2rem;
      background: url("../images/wall/ico-hurt.png") no-repeat center right;
      padding-right: 1.5rem; }
  .block-title-wall h5 {
    font-size: 0.8rem;
    font-weight: normal;
    color: #b0b0b0; }

#coupon-wrapper {
  position: relative; }

#ico-coupon {
  display: inline-block;
  width: 14rem;
  height: 4rem;
  position: absolute;
  left: 56%;
  bottom: 7%;
  cursor: pointer; }

.sec-coupon p {
  margin-bottom: 0.5rem;
  color: #636363; }
  .sec-coupon p:last-of-type {
    margin-bottom: 2rem; }

.tab-content .tab-pane {
  width: 100%; }
  .tab-content .tab-pane .tab-pan-item-outter {
    display: table;
    margin-top: 1rem; }
    .tab-content .tab-pane .tab-pan-item-outter .tab-pane-item {
      display: table-cell;
      margin-right: 0.5rem;
      text-align: center; }
      .tab-content .tab-pane .tab-pan-item-outter .tab-pane-item p {
        color: #636363;
        font-size: 0.7rem;
        margin-top: 0.3rem; }
    .tab-content .tab-pane .tab-pan-item-outter .last {
      margin: 0; }

.nav-pills {
  border: 1px solid #636363; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #e8314a; }

.nav-pills .nav-link {
  border-radius: 0;
  color: #636363;
  display: inline-block;
  float: left; }

.text-wrapper {
  color: #969696;
  text-align: center;
  font-size: 0.8rem;
  margin: 1rem 0; }
  .text-wrapper p {
    margin: 0 0 0.5rem 0; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .swiper-slide .img-wrapper {
    width: 50%;
    text-align: center; }
    .swiper-slide .img-wrapper .img-wrapper-dec {
      color: #636363;
      font-size: 0.8rem;
      margin: 1rem 0; }

.table-process-const td {
  width: 50%;
  margin-bottom: 8rem;
  padding-bottom: 1rem; }

.sec-process-const {
  background: #eeeeee;
  text-align: center; }

.process-const-items .process-const-item {
  width: 100%;
  float: left; }
.process-const-items .img-wrapper {
  width: 40%;
  float: left; }
  .process-const-items .img-wrapper img {
    width: 100%; }
.process-const-items dl {
  display: block;
  float: left;
  margin: 2.5rem 0 0 1rem;
  width: 50%;
  height: auto; }
  .process-const-items dl dt {
    text-align: left;
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    -webkit-transition: all ease-out .2s;
    transition: all ease-out .2s;
    border-bottom: 1px solid #e1e1e1;
    width: 100%; }
    .process-const-items dl dt:before {
      position: absolute;
      content: "";
      width: 10px;
      height: 1px;
      background-color: #3c3c3c;
      margin-top: 21px;
      -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
  .process-const-items dl dd {
    font-size: 0.7rem;
    text-align: left;
    color: #b0b0b0; }

.stack-case {
  display: inline-block; }
  .stack-case .title {
    z-index: 100;
    padding: 0;
    font-size: 0.8rem;
    color: #3b3b3b;
    display: inline-block;
    width: 100%;
    padding: 0.4rem;
    background: #e3e3e3; }
    .stack-case .title:hover {
      background: #3b3b3b;
      color: #f9f9f9; }
  .stack-case .img-wrapper {
    margin-bottom: 0.1rem;
    position: relative; }
  .stack-case .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

#case-7 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0007_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-7:hover {
    background-image: none; }

#case-6 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0006_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-6:hover {
    background: none; }

#case-5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0007_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-5:hover {
    background: none; }

#case-4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0004_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-4:hover {
    background: none; }

#case-3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0003_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-3:hover {
    background: none; }

#case-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0002_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-2:hover {
    background: none; }

#case-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0001_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-1:hover {
    background: none; }

#case-0 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("../images/wall/case/_0000_case_a.png") no-repeat center 0;
  background-size: cover; }
  #case-0:hover {
    background: none; }

.hide {
  display: none; }

#ul-pills {
  width: 100%;
  padding: 0;
  margin-top: 0; }

.sec-problem .tab-pane-item .img-wrapper {
  padding: 1rem;
  margin-right: 1rem;
  border: 1px solid #e3e3e3;
  min-height: 16rem; }
  .sec-problem .tab-pane-item .img-wrapper p {
    margin-bottom: 0; }
  .sec-problem .tab-pane-item .img-wrapper .last {
    margin: 0; }

.table-layout-1 {
  margin-top: 1rem; }
  .table-layout-1 .img-wrapper {
    border: 1px solid #e3e3e3;
    padding: 1rem;
    margin-right: 1rem;
    text-align: center; }
    .table-layout-1 .img-wrapper img {
      width: 100%; }
    .table-layout-1 .img-wrapper:hover {
      box-shadow: 2px 2px 10px #e3e3e3; }
  .table-layout-1 .last {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0; }
  .table-layout-1 p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0; }

.full-width {
  width: 100%; }

.grid-of-images .table-layout-case td {
  padding: 0.4rem; }
.grid-of-images .gallery-popup {
  cursor: zoom-in; }
.grid-of-images img {
  width: 100%; }
.grid-of-images .title {
  background: blue;
  margin-top: 0.2rem;
  background: #636363;
  color: #f9f9f9;
  padding: 0.2rem;
  font-size: 0.9rem; }
.grid-of-images .trigger-pop {
  position: relative; }
.grid-of-images .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  font-size: 0.8rem;
  text-align: left; }
  .grid-of-images .mask ul {
    width: 100%;
    height: 1%;
    position: relative;
    top: 30%;
    left: 10%; }
    .grid-of-images .mask ul li {
      color: white; }
  .grid-of-images .mask:hover {
    opacity: 1;
    background: rgba(59, 59, 59, 0.6); }

#open-popup {
  padding: 20px; }

.white-popup {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 30rem;
  min-width: 10rem;
  margin: 20px auto;
  text-align: center; }

.order {
  width: 480px;
  height: 360px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #ffffff;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -240px;
  margin-top: -185px;
  z-index: 30;
  display: none; }

.order_title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #5c5c5c;
  background: #dcdcdc;
  text-align: center;
  font-size: 20px;
  position: relative; }

.order p {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #999999;
  font-size: 16px; }

.order p span {
  color: red; }

.input_order {
  width: 298px;
  height: 42px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto 20px; }

.input_order input {
  width: 294px;
  height: 40px;
  margin-top: 2px;
  outline: none;
  border: none;
  font-size: 16px;
  text-indent: 5px;
  margin-left: 2px; }

.order_close {
  width: 27px;
  height: 28px;
  position: absolute;
  right: 2px;
  top: 5px;
  cursor: pointer; }

.order_btn {
  display: block;
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  background: #fa2643;
  font-size: 18px;
  margin: 0 auto;
  border-radius: 5px; }

.sec-contrast .stack {
  position: relative; }
.sec-contrast .mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(249, 249, 249, 0.7);
  z-index: 1; }
  .sec-contrast .mask dl {
    width: 80%;
    margin: 11% auto 0;
    font-size: 0.6rem;
    color: #3b3b3b; }
    .sec-contrast .mask dl dt {
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 0.4rem; }
    .sec-contrast .mask dl dd {
      text-align: left;
      margin-bottom: 0.3rem; }
      .sec-contrast .mask dl dd:last-of-type {
        margin-bottom: 0; }

/*# sourceMappingURL=yiniao-bs.css.map */
